  access-group          Access groups
  access-list           Access lists
  accounting            Uses the specified accounting list
  arp                   Information of ARP cache
  authorization         Authorization configurations
  auto-traffic-control  Auto traffic control information
  banner                Banner info
  bridge-ext            Bridge extension information
  cable-diagnostics     Shows the information of cable diagnostics
  calendar              Date and time information
  class-map             Displays class maps
  cluster               Display cluster
  debug                 State of each debugging option
  discard               Discard packet
  dns                   DNS information
  dos-protection        Shows the system dos-protection summary information
  dot1q-tunnel          802.1Q tunnel
  dot1x                 802.1X content
  dying-gasp            Dying gasp information
  efm                   Ethernet First Mile feature
  erps                  Displays ERPS configuration
  ethernet              Shows Metro Ethernet information
  garp                  GARP properties
  gvrp                  GVRP interface information
  hardware              Hardware ralated functions
  history               Shows history information
  hosts                 Host information
  interfaces            Shows interface information
  ip                    IP information
  ipv6                  IPv6 information
  l2protocol-tunnel     Layer 2 protocol tunneling configuration
  lacp                  LACP statistics
  line                  TTY line information
  lldp                  LLDP
  log                   Log records
  logging               Logging setting
  loop                  Shows the information of loopback
  loopback-detection    Shows loopback detection information
  mac                   MAC access list
  mac-address-table     Configuration of the address table
  mac-vlan              MAC-based VLAN information
  management            Shows management information
  memory                Memory utilization
  mvr                   multicast VLAN registration
  mvr6                  IPv6 Multicast VLAN registration
  network-access        Shows the entries of the secure port
  nlm                   Show notification log
  ntp                   Network Time Protocol configuration
  policy-map            Displays policy maps
  port                  Port characteristics
  port-channel          Port channel information
  power                 Shows power
  power-save            Shows the power saving information
  pppoe                 Displays PPPoE configuration
  privilege             Shows current privilege level
  process               Device process
  protocol-vlan         Protocol-VLAN information
  public-key            Public key information
  qos                   Quality of Service
  queue                 Priority queue information
  radius-server         RADIUS server information
  reload                Shows the reload settings
  rmon                  Remote monitoring information
  rspan                 Display status of the current RSPAN configuration
  running-config        Information on the running configuration
  sflow                 Shows the sflow information
  smart-pair            Displays backup port information
  snmp                  Simple Network Management Protocol configuration and
                        statistics
  snmp-server           Displays SNMP server configuration
  sntp                  Simple Network Time Protocol configuration
  spanning-tree         Spanning-tree configuration
  ssh                   Secure shell server connections
  startup-config        Startup system configuration
  subnet-vlan           IP subnet-based VLAN information
  system                System information
  tacacs-server         TACACS server information
  tech-support          Technical information
  time-range            Time range
  traffic-segmentation  Traffic segmentation information
  transceiver-eeprom    Access transceiver EEPROM data configuration
  twamp                 TWAMP configuration, statistics and session information
  udld                  Displays UDLD information
  upgrade               Shows upgrade information
  users                 Information about users logged in
  version               System hardware and software versions
  vlan                  Shows virtual LAN settings
  vlan-translation      VLAN translation information
  voice                 Shows the voice VLAN information
  watchdog              Displays watchdog status
  web-auth              Shows web authentication configuration

