 CPU Utilization in the past 5 seconds : 7%

 CPU Utilization in the past 60 seconds
  Average Utilization       : 8%
  Maximum Utilization       : 9%

 Alarm Status
  Current Alarm Status      : Off
  Last Alarm Start Time     : Jun 9 15:10:09 2011
  Last Alarm Duration Time  : 10 seconds

 Alarm Configuration
  Rising Threshold          : 90%
  Falling Threshold         : 70%


