System Description : {{ context.box.model }}
System OID String : 1.3.6.1.4.1.259.10.1.45.108
System Information
 System Up Time : 0 days, 5 hours, 44 minutes, and 42.28 seconds
 System Name :
 System Location :
 System Contact :
 MAC Address (Unit 1) : {{ context.card.mac_address }}
 Web Server : Enabled
 Web Server Port : 80
 Web Secure Server : Enabled
 Web Secure Server Port : 443
 Telnet Server : Enabled
 Telnet Server Port : 23
 Jumbo Frame : Disabled

System Fan:
 Force Fan Speed Full : Disabled
Unit 1
 Fan 1: Ok              Fan 2: Ok

System Temperature:
Unit 1
 Temperature 1: 35 degrees

Unit 1
 Main Power Status : {{ context.card.admin_state }}

