  ------------------------------------------------------------------------------
  Port  Detecting Time(Min)  TX State  Resume  Detect    Resume    Auto-sensing
                                       Detect  Interval  Duration
  ------------------------------------------------------------------------------

