  ------------------------------------------------------------------------------
  In port {{ context.port_identifier }}, the total of ONTs are: {{ context.ont_count }}, online: {{ context.ont_online_count }}
  ------------------------------------------------------------------------------
  ONT  Run     Last                Last                Last
  ID   State   UpTime              DownTime            DownCause
  ------------------------------------------------------------------------------

