  {{ context.cardname }}{{ context.spacer1 }}{{ context.card.board_name }}{{ context.spacer2 }}{{ context.card.board_status }}{{ context.spacer3 }}{{ context.card.sub_type_0 }}{{ context.spacer4 }}{{ context.card.sub_type_1 }}{{ context.spacer5 }}{% if context.card.board_status == 'Failed' %}Offline{% endif %}{% if context.card.board_status != 'Failed' %} {% endif %}


