{{ context.spacer_beg1 }}{{ context.portname }}{{ context.spacer1 }}{{ context.porttype }}{{ context.spacer2 }}{{ context.port.admin_state }}{{ context.spacer3 }}{{ context.port.alarm_template_num }}{{ context.spacer4 }}{{ context.port.spectrum_profile_num }}{{ context.spacer5 }}{{ context.port.upbo_profile_num }}

