{{ context.spacer_beg3 }}{{ context.portname }}{{ context.spacer18 }}{{ context.port.alm_prof_15_min }}{{ context.spacer19 }}{{ context.port.warn_prof_15_min }}{{ context.spacer20 }}{{ context.port.alm_prof_24_hour }}{{ context.spacer21 }}{{ context.port.warn_prof_24_hour }}

