  ---------------------------------------
  Board Name          : HS3BVCMM
  Board Status        : Normal
  ---------------------------------------

  ------------------------------------------------------------------------------
  Line info:
  ------------------------------------------------------------------------------
  Port   Port   Status              Alarm         Spec         UPBO
         Type                       Temp          Prof         Prof
  ------------------------------------------------------------------------------
     0   VDSL   Activated               1         1001            1
     1   VDSL   Activated               1         1001            1
     2   VDSL   Activated               1         1001            1
     3   VDSL   Activated               1         1001            1
     4   VDSL   Deactivated             1            1            1
     5   VDSL   Deactivated             1            1            1
     6   VDSL   Deactivated             1            1            1
     7   VDSL   Deactivated             1            1            1
     8   VDSL   Deactivated             1            1            1
     9   VDSL   Deactivated             1            1            1
    10   VDSL   Deactivated             1            1            1
    11   VDSL   Deactivated             1            1            1
    12   VDSL   Deactivated             1            1            1
    13   VDSL   Deactivated             1            1            1
    14   VDSL   Deactivated             1            1            1
    15   VDSL   Deactivated             1            1            1
    16   VDSL   Deactivated             1            1            1
    17   VDSL   Deactivated             1            1            1
    18   VDSL   Deactivated             1            1            1
    19   VDSL   Deactivated             1            1            1
    20   VDSL   Deactivated             1            1            1
    21   VDSL   Deactivated             1            1            1
    22   VDSL   Deactivated             1            1            1
    23   VDSL   Deactivated             1            1            1
    24   VDSL   Deactivated             1            1            1
    25   VDSL   Deactivated             1            1            1
    26   VDSL   Deactivated             1            1            1
    27   VDSL   Deactivated             1            1            1
    28   VDSL   Deactivated             1            1            1
    29   VDSL   Deactivated             1            1            1
    30   VDSL   Deactivated             1            1            1
    31   VDSL   Deactivated             1            1            1
    32   VDSL   Deactivated             1            1            1
    33   VDSL   Deactivated             1            1            1
    34   VDSL   Deactivated             1            1            1
    35   VDSL   Deactivated             1            1            1
    36   VDSL   Deactivated             1            1            1
    37   VDSL   Deactivated             1            1            1
    38   VDSL   Deactivated             1            1            1
    39   VDSL   Deactivated             1            1            1
    40   VDSL   Deactivated             1            1            1
    41   VDSL   Deactivated             1            1            1
    42   VDSL   Deactivated             1            1            1
    43   VDSL   Deactivated             1            1            1
    44   VDSL   Deactivated             1            1            1
    45   VDSL   Deactivated             1            1            1
    46   VDSL   Deactivated             1            1            1
    47   VDSL   Deactivated             1            1            1
  ------------------------------------------------------------------------------
  Total number of activated ports  :   4
  Total number of unactivated ports:  44

  ------------------------------------------------------------------------------
  Port             DPBO prof     RFI prof      NM prof      VN prof     INM prof
  ------------------------------------------------------------------------------
     0                  1060            1         2001            1            1
     1                  1060            1         2001            1            1
     2                  1060            1         2001            1            1
     3                  1060            1         2001            1            1
     4                     1            1            1            1            1
     5                     1            1            1            1            1
     6                     1            1            1            1            1
     7                     1            1            1            1            1
     8                     1            1            1            1            1
     9                     1            1            1            1            1
    10                     1            1            1            1            1
    11                     1            1            1            1            1
    12                     1            1            1            1            1
    13                     1            1            1            1            1
    14                     1            1            1            1            1
    15                     1            1            1            1            1
    16                     1            1            1            1            1
    17                     1            1            1            1            1
    18                     1            1            1            1            1
    19                     1            1            1            1            1
    20                     1            1            1            1            1
    21                     1            1            1            1            1
    22                     1            1            1            1            1
    23                     1            1            1            1            1
    24                     1            1            1            1            1
    25                     1            1            1            1            1
    26                     1            1            1            1            1
    27                     1            1            1            1            1
    28                     1            1            1            1            1
    29                     1            1            1            1            1
    30                     1            1            1            1            1
    31                     1            1            1            1            1
    32                     1            1            1            1            1
    33                     1            1            1            1            1
    34                     1            1            1            1            1
    35                     1            1            1            1            1
    36                     1            1            1            1            1
    37                     1            1            1            1            1
    38                     1            1            1            1            1
    39                     1            1            1            1            1
    40                     1            1            1            1            1
    41                     1            1            1            1            1
    42                     1            1            1            1            1
    43                     1            1            1            1            1
    44                     1            1            1            1            1
    45                     1            1            1            1            1
    46                     1            1            1            1            1
    47                     1            1            1            1            1
  ------------------------------------------------------------------------------
  Note:
  NM:  Noise Margin                        VN: Virtual Noise

  ------------------------------------------------------------------------------
  Channel info:
  ------------------------------------------------------------------------------
  Channel           DDR prof     UDR prof     INP prof   DsRa ratio   UsRa ratio
  ------------------------------------------------------------------------------
    0.1                 1050         2005         1001          100          100
    1.1                 1025         2002         1001          100          100
    2.1                 1050         2005         1001          100          100
    3.1                 1025         2002         1001          100          100
    4.1                    2            1            1          100          100
    5.1                    2            1            1          100          100
    6.1                    2            1            1          100          100
    7.1                    2            1            1          100          100
    8.1                    2            1            1          100          100
    9.1                    2            1            1          100          100
   10.1                    2            1            1          100          100
   11.1                    2            1            1          100          100
   12.1                    2            1            1          100          100
   13.1                    2            1            1          100          100
   14.1                    2            1            1          100          100
   15.1                    2            1            1          100          100
   16.1                    2            1            1          100          100
   17.1                    2            1            1          100          100
   18.1                    2            1            1          100          100
   19.1                    2            1            1          100          100
   20.1                    2            1            1          100          100
   21.1                    2            1            1          100          100
   22.1                    2            1            1          100          100
   23.1                    2            1            1          100          100
   24.1                    2            1            1          100          100
   25.1                    2            1            1          100          100
   26.1                    2            1            1          100          100
   27.1                    2            1            1          100          100
   28.1                    2            1            1          100          100
   29.1                    2            1            1          100          100
   30.1                    2            1            1          100          100
   31.1                    2            1            1          100          100
   32.1                    2            1            1          100          100
   33.1                    2            1            1          100          100
   34.1                    2            1            1          100          100
   35.1                    2            1            1          100          100
   36.1                    2            1            1          100          100
   37.1                    2            1            1          100          100
   38.1                    2            1            1          100          100
   39.1                    2            1            1          100          100
   40.1                    2            1            1          100          100
   41.1                    2            1            1          100          100
   42.1                    2            1            1          100          100
   43.1                    2            1            1          100          100
   44.1                    2            1            1          100          100
   45.1                    2            1            1          100          100
   46.1                    2            1            1          100          100
   47.1                    2            1            1          100          100
  ------------------------------------------------------------------------------
  Note:
  DDR: Downstream Data Rate                UDR: Upstream Data Rate
  DsRa:Downstream Rate Adaptation Ratio    UsRa:Upstream Rate Adaptation Ratio

