  EMU ID: {{ context.emu.number }}
  -----------------------------------------------------------------------------
  EMU name    : {{ context.emu.type }}
  EMU type    : {{ context.emu.type }}
  Used or not : {{ context.emu.used }}
  EMU state   : {{ context.emu.emu_state }}
  Frame ID    : {{ context.emu.frame_id }}
  Subnode     : {{ context.emu.subnode }}
  COM port    : {{ context.emu.com_port }}
  -----------------------------------------------------------------------------

