  VERSION : {{ context.box.software_version }}
  PATCH   : SPH208
  PRODUCT : MABase

  Mainboard Running Area Information:
 --------------------------------------------
  Current Program Area : Area B
  Current Data Area : Area B

  Program Area A Version : {{ context.box.software_version }}
  Program Area B Version : {{ context.box.software_version }}

  Data Area A Version : {{ context.box.software_version }}
  Data Area B Version : {{ context.box.software_version }}
 --------------------------------------------

  Copyright (c) Huawei Technologies Co., Ltd. 2002-2015 All rights reserved
  Uptime is 253 day(s), 4 hour(s), 44 minute(s), 19 second(s)

