configure {{ context.product }}
#-------------------------------------------------------------------------------
echo "{{ context.product }}"
#-------------------------------------------------------------------------------
#-------------------------------------------------------------------------------

