  priority-regen 1 profile-name TrustedPort
    pbit0 0
    pbit1 1
    pbit2 2
    pbit3 3
    pbit4 4
    pbit5 5
    pbit6 6
    pbit7 7
  exit
  priority-regen 2 profile-name BestEffort
    pbit0 0
    pbit1 0
    pbit2 0
    pbit3 0
    pbit4 0
    pbit5 0
    pbit6 0
    pbit7 0
  exit
  priority-regen 3 profile-name ControlledLoad3
    pbit0 3
    pbit1 3
    pbit2 3
    pbit3 3
    pbit4 3
    pbit5 3
    pbit6 3
    pbit7 3
  exit
  priority-regen 4 profile-name ControlledLoad4
    pbit0 4
    pbit1 4
    pbit2 4
    pbit3 4
    pbit4 4
    pbit5 4
    pbit6 4
    pbit7 4
  exit
  priority-regen 5 profile-name Background
    pbit0 1
    pbit1 1
    pbit2 1
    pbit3 1
    pbit4 1
    pbit5 1
    pbit6 1
    pbit7 1
  exit
  priority-regen 6 profile-name BE_ControlledLoad_Voice
    pbit0 0
    pbit1 0
    pbit2 3
    pbit3 3
    pbit4 0
    pbit5 0
    pbit6 6
    pbit7 6
  exit
  priority-regen 7 profile-name BE_ControlledLoad_Voice.1d
    pbit0 0
    pbit1 0
    pbit2 0
    pbit3 4
    pbit4 0
    pbit5 0
    pbit6 6
    pbit7 6
  exit
  priority-regen 8 profile-name BestEffort_Voice
    pbit0 0
    pbit1 0
    pbit2 0
    pbit3 0
    pbit4 0
    pbit5 0
    pbit6 6
    pbit7 6
  exit
  priority-regen 9 profile-name 3ClassL2VPN
    pbit0 0
    pbit1 0
    pbit2 2
    pbit3 2
    pbit4 4
    pbit5 4
    pbit6 0
    pbit7 0
  exit
  priority-regen 10 profile-name 4ClassL2VPN
    pbit0 0
    pbit1 0
    pbit2 2
    pbit3 2
    pbit4 4
    pbit5 4
    pbit6 6
    pbit7 6
  exit
exit
#-------------------------------------------------------------------------------

