================================================================================
optics table (detailed)
================================================================================
--------------------------------------------------------------------------------
optics
--------------------------------------------------------------------------------
            ont-idx : {{ context.ont.name }}{{ context.spacer1 }}rx-signal-level : {{ context.ont.rx_signal_level }}
    tx-signal-level : {{ context.ont.tx_signal_level }}{{ context.spacer2 }}ont-temperature : {{ context.ont.ont_temperature }}
        ont-voltage : {{ context.ont.ont_voltage }}{{ context.spacer3 }}laser-bias-curr : {{ context.ont.laser_bias_curr }}
   olt-rx-sig-level : {{ context.ont.olt_rx_sig_level }}
================================================================================

