{{ context.slot_name }}{{ context.spacer1 }}{{ context.card.actual_type }}{{ context.spacer2 }}{% if 'enabled' == context.card.operational_state %}yes{% else %}no{% endif %}{{ context.spacer3 }}{{ context.card.err_state }}{{ context.spacer4 }}{{ context.card.availability }}{{ context.spacer5 }}{{ context.card.restrt_cnt }}

