================================================================================
interface table (detailed)
================================================================================
--------------------------------------------------------------------------------
interface
--------------------------------------------------------------------------------
              ont-idx : {{ context.ont.name }}{{ context.spacer1 }}eqpt-ver-num : {{ context.ont.eqpt_ver_num }}
           sw-ver-act : {{ context.ont.sw_ver_act }}{{ context.spacer2 }}sw-ver-psv : {{ context.ont.sw_ver_psv }}
            vendor-id : {{ context.ont.vendor_id }}
             equip-id : {{ context.ont.equip_id }}
     actual-num-slots : {{ context.ont.actual_num_slots }}{{ context.spacer3 }}version-number : {{ context.ont.version_number }}
           num-tconts : {{ context.ont.num_tconts }}{{ context.spacer4 }}num-trf-sched : {{ context.ont.num_trf_sched }}
      num-prio-queues : {{ context.ont.num_prio_queues }}{{ context.spacer5 }}auto-sw-planned-ver : {{ context.ont.auto_sw_planned_ver }}
 auto-sw-download-ver : {{ context.ont.auto_sw_download_ver }}{{ context.spacer6 }}sernum : {{ context.ont.sernum }}
         yp-serial-no : {{ context.ont.yp_serial_no }}
        oper-spec-ver : {{ context.ont.oper_spec_ver }}{{ context.spacer7 }}act-ont-type : {{ context.ont.act_ont_type }}
     act-txpower-ctrl : {{ context.ont.act_txpower_ctrl }}{{ context.spacer8 }}sn-bundle-status : {{ context.ont.sn_bundle_status }}
     cfgfile1-ver-act : {{ context.ont.cfgfile1_ver_act }}{{ context.spacer9 }}cfgfile1-ver-psv : {{ context.ont.cfgfile1_ver_psv }}
     cfgfile2-ver-act : {{ context.ont.cfgfile2_ver_act }}{{ context.spacer10 }}cfgfile2-ver-psv : {{ context.ont.cfgfile2_ver_psv }}
================================================================================

