================================================================================
sfp table (detailed)
================================================================================
--------------------------------------------------------------------------------
sfp
--------------------------------------------------------------------------------
            position : {{ context.port.position }}
   diag-avail-status : {{ context.port.diag_avail_status }}
                 los : {{ context.port.los }}{{ context.spacer1 }}tx-fault : {{ context.port.tx_fault }}
            tx-power : {{ context.port.tx_power }}
            rx-power : {{ context.port.rx_power }}
     tx-bias-current : {{ context.port.tx_bias_current }}
      supply-voltage : {{ context.port.supply_voltage }}
         temperature : {{ context.port.temperature }}
     temperature-tca : {{ context.port.temperature_tca }}
         voltage-tca : {{ context.port.voltage_tca }}
    bias-current-tca : {{ context.port.bias_current_tca }}
        tx-power-tca : {{ context.port.tx_power_tca }}
        rx-power-tca : {{ context.port.rx_power_tca }}
     rssi-profile-id : {{ context.port.rssi_profile_id }}{{ context.spacer2 }}rssi-state : {{ context.port.rssi_state }}
================================================================================

