{{ context.if_index }}{{ context.spacer1 }}{{ context.mau.index }}{{ context.spacer2 }}{{ context.mau.type }}{{ context.spacer3 }}{{ context.mau.media_available }}{{ context.spacer4 }}{{ context.mau.jabber_state }}{{ context.spacer5 }}{{ context.mau.auto_neg_supported }}{{ context.spacer6 }}{{ context.mau.auto_neg_status }}

