===================================================================================================================================================
port table
===================================================================================================================================================
port                                               |admin-status|opr-status
---------------------------------------------------+------------+----------------------------------------------------------------------------------

