========================================================================================================================================================================================================
lineid-ext-rept table
========================================================================================================================================================================================================
sessionid|lineid       |test-name(unit)       |result-index|validity            |value      |value2     |value3     |value4     |value-vi
---------+-------------+----------------------+------------+--------------------+-----------+-----------+-----------+-----------+-----------------------------------------------------------------------
{{ context.session_id }}{{ context.spacer1 }}{{ context.port_identifier }}{{ context.spacer2 }}foreign-ac-tr(mv)      1            success              12          0           0           0           0000
{{ context.session_id }}{{ context.spacer3 }}{{ context.port_identifier }}{{ context.spacer4 }}foreign-ac-tg(mv)      1            success              11          0           0           0           0000
{{ context.session_id }}{{ context.spacer5 }}{{ context.port_identifier }}{{ context.spacer6 }}foreign-ac-rg(mv)      1            success              12          0           0           0           0000
{{ context.session_id }}{{ context.spacer7 }}{{ context.port_identifier }}{{ context.spacer8 }}foreign-dc-tr(mv)      1            success              -62         0           0           0           0000
{{ context.session_id }}{{ context.spacer9 }}{{ context.port_identifier }}{{ context.spacer10 }}foreign-dc-tg(mv)      1            success              -246        0           0           0           0000
{{ context.session_id }}{{ context.spacer11 }}{{ context.port_identifier }}{{ context.spacer12 }}foreign-dc-rg(mv)      1            success              -185        0           0           0           0000
{{ context.session_id }}{{ context.spacer13 }}{{ context.port_identifier }}{{ context.spacer14 }}resist-tr(ohm)         1            success              10000000    0           0           0           0000
{{ context.session_id }}{{ context.spacer15 }}{{ context.port_identifier }}{{ context.spacer16 }}resist-rt(ohm)         1            success              10000000    0           0           0           0000
{{ context.session_id }}{{ context.spacer17 }}{{ context.port_identifier }}{{ context.spacer18 }}resist-tg(ohm)         1            success              10000000    0           0           0           0000
{{ context.session_id }}{{ context.spacer19 }}{{ context.port_identifier }}{{ context.spacer20 }}resist-rg(ohm)         1            success              10000000    0           0           0           0000
{{ context.session_id }}{{ context.spacer21 }}{{ context.port_identifier }}{{ context.spacer22 }}capacitanc-tr(nf)      1            success              0           0           0           0           0000
{{ context.session_id }}{{ context.spacer23 }}{{ context.port_identifier }}{{ context.spacer24 }}capacitanc-tg(nf)      1            success              0           0           0           0           0000
{{ context.session_id }}{{ context.spacer25 }}{{ context.port_identifier }}{{ context.spacer26 }}capacitanc-rg(nf)      1            success              0           0           0           0           0000
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
lineid-ext-rept count : 13
========================================================================================================================================================================================================

