near-end              + show the xdsl oper data near end statistics status
far-end               + show the xdsl oper data far end statistics status
line                  + show the xdsl line operational statistics status

<CR>                  : execute command

