=================================================================================
upload-download table (detailed)
=================================================================================
            disk-space : {{ context.box.disk_space }}{{ context.spacer }}free-space : {{ context.box.free_space}}
     download-progress : {{ context.box.download_progress }}
        download-error : {{ context.box.download_error }}
       upload-progress : {{ context.box.upload_progress }}
          upload-error : {{ context.box.upload_error }}
   auto-activate-error : {{ context.box.auto_activate_error }}
=================================================================================

