===================================================================================================================================================
bridge-port-fdb table (detailed)
===================================================================================================================================================

