---------------------------------------------
  Command of user Mode:
---------------------------------------------
cls                   Clear screen
display               Display information
echo                  Echo
help                  Description of the interactive help system
history-command       Enable and control the command history function
idle-timeout          Set the interval of terminal timeout
interactive           Enable or disable command execute confirm function
quit                  Exit from current mode and enter prior mode
scroll                Set auto or manual scroll function
smart                 Enable or disable smart function
stelnet               Establish an Stelnet connection
super                 Modify super password parameters
switch                Switch language mode
telnet                Open a telnet connection
terminal              Operation of config terminal
tracert               Trace route to destination
undo                  Negate a command or set its defaults

