  ------------------------------------------------------------------------------
  Total number of activated ports  :  {{ context.activated_count }}
  Total number of unactivated ports:  {{ context.port_counter }}


