---------------------------------------------
  Command of privilege Mode:
---------------------------------------------
active                Enable configuration
alarm                 <Group> alarm command group
alarm-event           Alarm and event
autosave              <Group> autosave command group
backup                <Group> backup command group
baudrate              Set serial baudrate
client                Users information
config                Configuration from terminal
debugging             <Group> debugging command group
dhcp                  DHCP
diagnose              Change into diagnose mode
disable               Turn off privileged mode commands
display               Display information
erase                 Erase command
event                 <Group> event command group
file-server           File server information
ftp                   FTP user and password configuration
infoswitch            Set output switch of information terminal
load                  <Group> load command group
local-user            Local-user
loghost               Log server configuration operation
patch                 Patch operation
ping                  <Group> ping command group
pppoe                 PPPoE
quit                  Exit from current mode and enter prior mode
reboot                Reboot system
reset                 <Group> reset command group
resource              System resources(mem,message,cpu)
rollback              System rollback command
save                  The command of saving immediately
search                Search command
serial-mode           Set access-mode: console/EMU
set                   Set the operative time of undo rollback function
ssh                   Specify SSH (secure shell) configuration information
super                 Modify super password parameters
syslog                <Group> syslog command group
sysman                Configuration of the management channel
sysname               Set system network name
system                <Group> system command group
terminal              <Group> terminal command group
time                  <Group> time command group
timezone              Set time zone
tracert               <Group> tracert command group
trap                  <Group> trap command group
trap-sync             Set trap synchronization switch
undo                  Negate a command or set its defaults
vlan                  VLAN
---------------------------------------------
  Command of user Mode:
---------------------------------------------
cls                   Clear screen
display               Display information
echo                  Echo
help                  Description of the interactive help system
history-command       Enable and control the command history function
idle-timeout          Set the interval of terminal timeout
interactive           Enable or disable command execute confirm function
quit                  Exit from current mode and enter prior mode
scroll                Set auto or manual scroll function
smart                 Enable or disable smart function
stelnet               Establish an Stelnet connection
super                 Modify super password parameters
switch                Switch language mode
telnet                Open a telnet connection
terminal              Operation of config terminal
tracert               Trace route to destination
undo                  Negate a command or set its defaults

