 ------------------------------------------------------------------------------
  Standard in port training                  : {{ context.port.standard_port_in_training }}
  Trellis mode downstream                    : {{ context.port.trellis_mode_ds }}
  Trellis mode upstream                      : {{ context.port.trellis_mode_us }}
  Current power management state             : {{ context.port.current_power_management_state }}
  Result of the last full initialization     : {{ context.port.result_last_initialization }}
  Signal attenuation downstream(dB)          : {{ context.port.signal_attenuation_ds_1 }}
  Signal attenuation upstream(dB)            : {{ context.port.signal_attenuation_us_1 }}
  Line attenuation downstream(dB)            : {{ context.port.line_attenuation_ds_1 }}
  Line attenuation upstream(dB)              : {{ context.port.line_attenuation_us_1 }}
  Maximum attainable rate downstream(Kbps)   : {{ context.port.downstream_max }}
  Maximum attainable rate upstream(Kbps)     : {{ context.port.upstream_max }}
  Actual line rate downstream(Kbps)          : {{ context.port.act_line_rate_ds_1 }}
  Actual line rate upstream(Kbps)            : {{ context.port.act_line_rate_us_1 }}
  Line SNR margin downstream(dB)             : {{ context.port.line_snr_margin_ds_1 }}
  Line SNR margin upstream(dB)               : {{ context.port.line_snr_margin_us_1 }}
  Actual PSD downstream(dBm/Hz)              : {{ context.port.act_psd_ds }}
  Actual PSD upstream(dBm/Hz)                : {{ context.port.act_psd_us }}
  Total output power downstream(dBm)         : {{ context.port.total_output_power_ds }}
  Total output power upstream(dBm)           : {{ context.port.total_output_power_us }}
  Coding Gain in downstream(dB)              : {{ context.port.coding_gain_ds }}
  Coding Gain in upstream(dB)                : {{ context.port.coding_gain_us }}
  Power cut back downstream(dB)              : {{ context.port.power_cut_back_ds }}
 --------------------------------------------------------------------------------

