  {{ context.user.name }}{{ context.spacer1 }}{{ context.user.level }}{{ context.spacer2 }}{{ context.user.status }}{{ context.spacer3 }}{{ context.user.reenter_num }}{{ context.spacer4 }}{{ context.user.profile }}{{ context.spacer5 }}{{ context.user.append_info }}

