  ------------------------------------------------------------------------------
  Port   Status        Loopback        Line Template   Alarm Template  Group ID
  ------------------------------------------------------------------------------
  {{ context.portname}}{{ context.spacer1 }}{{ context.port.admin_state }}{{ context.spacer2 }}{{ context.port.loopback }}{{ context.spacer3 }}{{ context.port.line_template_num }}{{ context.spacer4 }}{{ context.port.alarm_template_num }}{{ context.spacer5 }}{{ context.port.group_id }}
  ------------------------------------------------------------------------------

