---------------------------------------------
  Command of {{ context.product }} {{ context.interface_id }} Mode:
---------------------------------------------
activate              Activate port
adsl                  <Group> adsl command group
alarm-config          Set alarm template of port
atm-ping              Oam ping
car-mode              CAR mode
car-port              CAR of port and CoS
chipset               Reset chipset
deactivate            Deactivate port
display               Display information
loopback              Loopback port
quit                  Exit from current mode and enter prior mode
return                Enter the privileged mode
switch                Switch language mode
undo                  Negate a command or set its defaults

