  -----------------------------------------------------------------------------
  Notes: * indicates the discretely configured traffic profile,
         run the display traffic table ip command to query
         traffic table configuration.
  -----------------------------------------------------------------------------
  Port-type Port-ID  DownstreamMode  MismatchPolicy
  -----------------------------------------------------------------------------

