{{ context.spacer4 }}{{ context.ont_port.ont_port_type }}{{ context.spacer5 }}{{ context.ont_port.ont_port_index }}{{ context.spacer6 }}{{ context.ont_port.qinq_mode }}{{ context.spacer7 }}{{ context.ont_port.priority_policy }}{{ context.spacer8 }}{{ context.ont_port.inbound }}{{ context.spacer9 }}{{ context.ont_port.outbound }}

