  -----------------------------------------------------------------------------
  Alarm policy profile ID      : 0
  Alarm policy profile name    : alarm-policy_0
  -----------------------------------------------------------------------------

