  EMU ID: {{ context.emu.number }}                           System run information
  ----------------------------------------------------------------------------
  Limit State      : {{ context.emu.limit_state }}{{ context.spacer1 }}Charge control    : {{ context.emu.charge_control }}
  Charge state     : {{ context.emu.charge_state }}
  Module number    : {{ context.emu.module_number }}
  Module 0 address : {{ context.emu.module_0_address }}{{ context.spacer2 }}Module 0 type     : {{ context.emu.module_0_type }}
  Module 0 voltage : {{ context.emu.module_0_voltage }}{{ context.spacer3 }}Module 0 current  : {{ context.emu.module_0_current }}
  DC   voltage     : {{ context.emu.dc_voltage }}{{ context.spacer4 }}Battery 0 current : {{ context.emu.battery_0_current }}
  Battery capacity remained: {{ context.emu.battery_capacity }}%
  ----------------------------------------------------------------------------

