 -----------------------------------------------------------------------------
  ONU NNI port ID                        : -
  Module type                            : GPON
  Module sub-type                        : CLASS B+
  Used type                              : ONU
  Encapsulation Type                     : BOSA ON BOARD
  Optical power precision(dBm)           : 3.0
  Vendor name                            : HUAWEI
  Vendor rev                             : -
  Vendor PN                              : HW-BOB-0002
  Vendor SN                              : 1623WC803632A
  Date Code                              : -
  Rx optical power(dBm)                  : -13.68
  Rx power current warning threshold(dBm): [-,-]
  Rx power current alarm threshold(dBm)  : [-29.0,-7.0]
  Tx optical power(dBm)                  : 2.17
  Tx power current warning threshold(dBm): [-,-]
  Tx power current alarm threshold(dBm)  : [0.0,5.0]
  Laser bias current(mA)                 : 9
  Tx bias current warning threshold(mA)  : [-,-]
  Tx bias current alarm threshold(mA)    : [2.000,100.000]
  Temperature(C)                         : 31
  Temperature warning threshold(C)       : [-,-]
  Temperature alarm threshold(C)         : [-61,95]
  Voltage(V)                             : 3.280
  Supply voltage warning threshold(V)    : [-,-]
  Supply voltage alarm threshold(V)      : [3.000,3.600]
  OLT Rx ONT optical power(dBm)          : -15.72
  CATV Rx optical power(dBm)             : -
  CATV Rx power alarm threshold(dBm)     : [-,-]
  -----------------------------------------------------------------------------

