  -----------------------------------------------------------------------------
  Port   Port   Service-type Index S-VLAN S-PRI C-VLAN C-PRI ENCAP      S-PRI
  type   ID                                                             POLICY
  -----------------------------------------------------------------------------

