  -----------------------------------------------------------------------------
  Port-type Port-ID Dscp-mapping-table-index
  -----------------------------------------------------------------------------

