---------------------------------------------
  Command of {{ context.product }}-{{ context.interface_id }} Mode:
---------------------------------------------
anti-rogueont         <Group> anti-rogueont command group
auto-service-port     Auto add service-port
car-mode              CAR mode
car-port              CAR of port and CoS
clear                 <Group>Clear command group
display               Display information
dual-parenting-protect
                      Type B dual parenting protect command
hqos                  Hierarchical QoS
if-h248               Ont h248 interface
if-mgcp               Ont MGCP interface
if-sip                Ont SIP interface
interface             <Group> interface command group
jumbo-frame           Set jumbo frame enable/disable
mac-address           <Group> mac-address command group
mgpstnuser            Mgpstnuser
ont                   <Group> ont command group
port                  <Group>Port command group
pppoe                 PPPoE
pstnport              Electric configuration
quit                  Exit from current mode and enter prior mode
reset                 Reset operation
return                Enter the privileged mode
shutdown              Shutdown
sippstnuser           Sippstnuser
switch                Switch language mode
tcont                 <Group>T-CONT configuration command group
traffic-suppress      Set traffic suppression
unbound-gemport       <Group>Unbound GEM Port configuration command group
undo                  Negate a command or set its defaults
voipsignal            Bind ONT VoIP signal profile

