---------------------------------------------
  Command of vlanif{{ context.component.number }} Mode:
---------------------------------------------
arp                   <Group> arp command group
description           Specify interface description
dhcp                  DHCP command group
dhcp-client           DHCP client configuration command
dhcp-server           Configure DHCP server group of this interface
dhcpv6-server         Configure DHCPv6 server group of this interface
display               Display information
firewall              Specify firewall configuration
igmp                  Specify parameters for IGMP
ip                    <Group> ip command group
ipv6                  <Group> ipv6 command group
isis                  Configure interface parameters for ISIS
mpls                  <Group> mpls command group
mtu                   <Group> MTU command group
ntp-service           Specify NTP (Network Time Protocol) configuration
                      information
ospf                  <Group> ospf command group
ospfv3                <Group> ospfv3 command group
pim                   Specify interface parameters for PIM
priority-mark         The priority of the packet send from the interface
quit                  Exit from current mode and enter prior mode
return                Enter the privileged mode
rip                   <Group> rip command group
ripng                 RIPng (Routing Information Protocol next generation)
shutdown              Shutdown the specified interface
static-route          IPv4 static routes
switch                Switch language mode
undo                  Negate a command or set its defaults
vlan                  Configure the encapsulation mode of the VLAN interface

