EXEC commands:
  auto-traffic-control  Auto traffic control configuration
  calendar              Date and time information
  clear                 Resets functions
  configure             Enters configuration mode
  copy                  Copies from one file to another
  debug                 Debugging functions
  delete                Deletes a file
  dir                   Lists files on the file system
  disable               Returns to normal mode from privileged mode
  disconnect            Terminates an SSH, Telnet, or a console connection
  dot1x                 Configures 802.1X port-based access control
  efm                   Ethernet First Mile feature
  enable                Turns on privileged commands
  erps                  Ethernet Ring Protection Switching
  ethernet              Metro Ethernet
  exit                  Exits from privileged EXEC mode
  hardware              Hardware ralated functions
  help                  Description of the interactive help system
  ip                    Internet protocol
  ipv6                  IPv6 configuration commands
  loopback-detection    Performs loopback detection privileged operations
  no                    Negates a command or sets its defaults
  ping                  Sends ICMP echo request packets to another host
  ping6                 Sends ICMPv6 echo request packets to another host
  port                  Configures the characteristics of the port
  quit                  Exits a CLI session
  rcommand              telnet to member
  reload                Halts and performs a warm restart
  sflow                 Configures sFlow
  show                  Shows information
  smart-pair            Specifies a smart pair
  spanning-tree         Specifies spanning-tree configuration
  telnet                Telnet to a specified host
  terminal              Terminal setting
  test                  Tests subsystem
  traceroute            Traces routing path
  traceroute6           Traces routing path
  transceiver-eeprom    Access transceiver EEPROM data
  watchdog              Configures watchdog setting
  web-auth              Configures web authentication parameters
  whichboot             Shows which files booted on system power up

