Information of Eth {{ context.port.name }}
 Connector Type : LC
 Fiber Type : Multimode 50um (M5), Multimode 62.5um (M6)
 Eth Compliance Codes : 1000BASE-SX
 Baud Rate : 2100 MBd
 Vendor OUI : 00-90-65
 Vendor Name : FINISAR CORP.
 Vendor PN : FTLF8519P2BNL
 Vendor Rev : A
 Vendor SN : PFS4U5F
 Date Code : 09-07-02
DDM Information
 Temperature : 31.36 degree C
 Vcc : 3.32 V
 Bias Current : 25.61 mA
 TX Power : -3.11 dBm
 RX Power : -40.00 dBm
DDM Thresholds
                           Low Alarm   Low Warning  High Warning    High Alarm
  -----------           ------------  ------------  ------------  ------------
  Temperature(Celsius)        -25.00        -20.00         90.00         95.00
  Voltage(Volts)                2.80          2.90          3.70          3.80
  Current(mA)                   2.00          3.00         80.00         90.00
  TxPower(dBm)                 -7.96         -6.99          1.00          2.01
  RxPower(dBm)                -20.00        -19.00         0.00           1.00

