{{ context.spacer1 }}{{ context.port_num }}{{ context.spacer2 }}{{ context.port.alm_prof_15_min }}{{ context.spacer3 }}{{ context.port.warn_prof_15_min }}{{ context.spacer4 }}{{ context.port.alm_prof_24_hour }}{{ context.spacer5 }}{{ context.port.warn_prof_24_hour }}

