  -------------------------------------------------------------
  Index               : {{ context.s_port.name }}
  VLAN ID             : {{ context.vlan.number }}
  VLAN attr           : {{ context.vlan.attribute }}
  Port type           : {{ context.porttype }}
  F/S/P               : {{ context.port.name }}
  VPI                 : {{ context.s_port.vpi }}
  VCI                 : {{ context.s_port.vci }}
  Flow type           : {{ context.s_port.flow_type }}
  Flow para           : {{ context.s_port.flow_para }}
  TX                  : {{ context.s_port.tx }}
  Inbound table name  : {{ context.s_port.inbound_table_name }}
  RX                  : {{ context.s_port.rx }}
  Outbound table name : {{ context.s_port.outbound_table_name }}
  Admin status        : {{ context.s_port.admin_state }}
  State               : {{ context.s_port.operational_state }}
  Label               : {{ context.s_port.label }}
  Priority            : {{ context.s_port.priority }}
  PVC bundle          : {{ context.s_port.pvc_bundle }}
  Max MAC count       : {{ context.s_port.max_mac_count }}
  Tag transform       : {{ context.s_port.tag_transforms }}
  Description         : {{ context.s_port.description }}
  Remote description  : {{ context.s_port.remote_description }}
  Service-port bundle : {{ context.s_port.service_port_bundle }}
  Cos                 : {{ context.s_port.cos }}
  Static MAC          : {{ context.s_port.static_mac }}
  IP address          : {{ context.s_port.ip_address }}
  -------------------------------------------------------------
  Note: F--Frame, S--Slot, P--Port
        v/e--vlan/encap
        Dvlan--double vlan
        pritag--priority-tagged,
        ppp--pppoe, ip--ipoe, ip4--ipv4oe, ip6--ipv6oe

