  ------------------------------------------------------------------------------
  Note: For any port, setting MDI to auto-negotiation is invalid, For a 1000 M
        Electrical port in the full-duplex mode, setting MDI to any value is
        invalid

