  Command:
          display emu
  EMU parameter
  ----------------------------------------------------------------------------
    ID  Type               State       |  ID  Type               State
  ----------------------------------------------------------------------------
    0   {% if 0 in context.liste %}{{ context.emu0.type }}{{ context.spacer1 }}{{ context.emu0.emu_state }}{{ context.spacer2 }}{% else %}-                  -           {% endif %}|  1   {% if 1 in context.liste %}{{ context.emu1.type }}{{ context.spacer3 }}{{ context.emu1.emu_state }}{{ context.spacer4 }}{% else %}-                  -           {% endif %}

    2   {% if 2 in context.liste %}{{ context.emu2.type }}{{ context.spacer5 }}{{ context.emu2.emu_state }}{{ context.spacer6 }}{% else %}-                  -           {% endif %}|  3   {% if 3 in context.liste %}{{ context.emu3.type }}{{ context.spacer7 }}{{ context.emu3.emu_state }}{{ context.spacer8 }}{% else %}-                  -           {% endif %}

    4   {% if 4 in context.liste %}{{ context.emu4.type }}{{ context.spacer9 }}{{ context.emu4.emu_state }}{{ context.spacer10 }}{% else %}-                  -           {% endif %}|  5   {% if 5 in context.liste %}{{ context.emu5.type }}{{ context.spacer11 }}{{ context.emu5.emu_state }}{{ context.spacer12 }}{% else %}-                  -           {% endif %}

    6   {% if 6 in context.liste %}{{ context.emu6.type }}{{ context.spacer13 }}{{ context.emu6.emu_state }}{{ context.spacer14 }}{% else %}-                  -           {% endif %}|  7   {% if 7 in context.liste %}{{ context.emu7.type }}{{ context.spacer15 }}{{ context.emu7.emu_state }}{{ context.spacer16 }}{% else %}-                  -           {% endif %}

    8   {% if 8 in context.liste %}{{ context.emu8.type }}{{ context.spacer17 }}{{ context.emu8.emu_state }}{{ context.spacer18 }}{% else %}-                  -           {% endif %}|  9   {% if 9 in context.liste %}{{ context.emu9.type }}{{ context.spacer19 }}{{ context.emu9.emu_state }}{{ context.spacer20 }}{% else %}-                  -           {% endif %}

    10  {% if 10 in context.liste %}{{ context.emu10.type }}{{ context.spacer21 }}{{ context.emu10.emu_state }}{{ context.spacer22 }}{% else %}-                  -           {% endif %}|  11  {% if 11 in context.liste %}{{ context.emu11.type }}{{ context.spacer23 }}{{ context.emu11.emu_state }}{{ context.spacer24 }}{% else %}-                  -           {% endif %}

    12  {% if 12 in context.liste %}{{ context.emu12.type }}{{ context.spacer25 }}{{ context.emu12.emu_state }}{{ context.spacer26 }}{% else %}-                  -           {% endif %}|  13  {% if 13 in context.liste %}{{ context.emu13.type }}{{ context.spacer27 }}{{ context.emu13.emu_state }}{{ context.spacer28 }}{% else %}-                  -           {% endif %}

    14  {% if 14 in context.liste %}{{ context.emu14.type }}{{ context.spacer29 }}{{ context.emu14.emu_state }}{{ context.spacer30 }}{% else %}-                  -           {% endif %}|  15  {% if 15 in context.liste %}{{ context.emu15.type }}{{ context.spacer31 }}{{ context.emu15.emu_state }}{{ context.spacer32 }}{% else %}-                  -           {% endif %}

  ----------------------------------------------------------------------------

