  connect                  -- Open a outgoing connection
  disconnect               -- Disconect an existing outgoing network connection
  enable                   -- Turn on privileged commands
  enter                    -- Turn on privileged commands
  exit                     -- Exit / quit
  help                     -- Description of the interactive help system
  history                  -- Look up history
  quit                     -- Exit / quit
  resume                   -- Resume an active outgoing network connection
  ssh                      -- Open a ssh connection
  su                       -- Enter super user mode
  telnet                   -- Open a telnet connection
  where                    -- Display all outgoing telnet connection

