Infos of AP: {{ context.path }}
  Name                      : MileGate 2200
  Main Mode                 :
  Equipment State           : Ok
  Alarm Severity            : Cleared
  Propagated Alarm Severity : Major
  User Label                :
  Service Label             :
  Description               :

