equipment             + show the equipment status
port-protection       + show the port protection status
trap                  + show the trap status
alarm                 + show the alarm status
atm                   + show ATM info and statistics
vlan                  + show vlan related information
qos                   + show the qos status
qos-servicerouter     + show qos service router instance information
arp-relay-stats       + show the arp-relay detailed statistics(supported vlan
                        for unstacked [1..4093] and stacked cvlan [0..4093])
xdsl                  + show the xdsl status
xdsl-bonding          + show the xdsl bonding status
pppoe-client          + show PPPoE related parameters
pppoel2-stats         + show the pppoel2 detailed statistics
pon                   + show the gpon facility parameters
channel-pair          + show the channel pair parameters
uni                   + show the uni status parameters
ces                   + show ces
ani                   + show the ani status
l2uni                 + show l2uni status
hpna                  + show hpna status
iphost                + show the iphost parameters
moca                  + show moca uni status
epon                  + show the epon facility parameters
interface             + show the interface management parameters
sntp                  + show the sntp related system parameters
system                + show the system related objects
transaction           + show the transaction parameters
error                 + show the error related parameters
software-mngt         + show system software and database management parameters
config-file           + show existing local NT configuration file(s) or dump the
                        content of a specific file
igmp                  + show IGMP related parameters
transport             + show the transport related parameters
efm-oam               + show the efm oam related parameters
dhcp-relay            + show DHCP related information
mcast                 + show IGMP mcast related parameters
cpe-management        + show the cpe-Management parameters
session               + show the session status
pppox-relay           + show PPPoX related parameters
shdsl                 + show the shdsl status
ima                   + show the ima status
voice                 + show voice related information
l2cp                  + show L2CP related information
config-data-port      + show the configuration data per port status
ethernet              + show the Ethernet status
oper-data-port        + show the operational data per port status
debug-sw              + show debug related parameters
trouble-shooting      + show trouble-shooting counters
cfm                   + show CFM related information
ipoa/e-iw             + show ipoa l2 interworking info
linetest              + show linetest related information
link-agg              + show link aggregation related information
xstp                  + show MSTP related information
eth-cfm               + show CFM information
router                + show router instance information
mirror                + show mirror configuration and operation information
service               + show services related information
port                  + show physical port information
filter                + show IP/MAC filter and counter information
debug                 + show which debug points have been set
lag                   + show LAG information
log                   + show log commands
core1-uptime          + show time since core1 started
eth-ring              + show RING information
dpoe                  + show DPoE related status
cable                 + show cable related information of dpoe
cmts                  + show CMTS related information of dpoe
dist-service          + show user VCLs and associated service
ipv6                  + show ipv6 sessions related information
bcmp                  + show bcmp statistics counters
security              + show the status of security related items

<CR>                  : execute command

