================================================================================
table
================================================================================
index     |type                  |last-updated-on
----------+----------------------+----------------------------------------------

