================================================================================
shelf table (detailed)
================================================================================
--------------------------------------------------------------------------------
shelf
--------------------------------------------------------------------------------
        shelf : {{ context.subrack.name }}{{ context.spacer1 }}planned-type : {{ context.subrack.planned_type }}
  actual-type : {{ context.subrack.actual_type }}{{ context.spacer2 }}admin-status : {{ context.subrack.admin_state }}
  oper-status : {{ context.subrack.operational_state }}
 error-status : {{ context.subrack.err_state }}
 availability : {{ context.subrack.availability }}
   shelf-mode : {{ context.subrack.mode }}
        class : {{ context.subrack.subrack_class }}
    serial-no : {{ context.subrack.serial_no }}
      variant : {{ context.subrack.variant }}
     ics-code : {{ context.subrack.ics }}
  description : {{ context.subrack.description }}
================================================================================

