================================================================================
temperature table
================================================================================
  slot   |sensor-id| act-temp | tca-low  | tca-high | shut-low |  shut-high
---------+---------+----------+----------+----------+----------+----------------

