===============================================================================================
slot table
===============================================================================================
slot     |actual-type|enabled|error-status          |availability |restrt-cnt
---------+-----------+-------+----------------------+-------------+----------------------------

