================================================================================
shelf table
================================================================================
shelf|actual-type|enabled|error-status          |availability
-----+-----------+-------+----------------------+-------------------------------

