=====================================================================================================================================================================================
mau table
=====================================================================================================================================================================================
if-index  |index     |type         |media-available |jabber-state|auto-neg-supported|auto-neg-status
----------+----------+-------------+----------------+------------+------------------+------------------------------------------------------------------------------------------------

