================================================================================
operational-data table (detailed)
================================================================================
--------------------------------------------------------------------------------
operational-data
--------------------------------------------------------------------------------
          uni-idx : {{ context.ont_port.uni_idx }}
 config-indicator : {{ context.ont_port.config_indicator }}{{ context.spacer1 }}link-status : {{ context.ont_port.link_status }}
================================================================================

