--------------------------------------------------------------------------------
unprovision-onu
--------------------------------------------------------------------------------
             alarm-idx : 0                          gpon-index : {{ context.port.name }}
          newont-index : 8                              sernum : {{ context.ont.sernum }}
      subscriber-locid : {{ context.ont.subscriber_locid }}
        logical-authid :

