<Eqpt::RackId>/<...>  : the rack number
                        range: [1...7]

[no] detail           : show the details
[no] xml              : show the output in XML format

|                     : to filter the output

<CR>                  : execute command

