profiles              + show the profiles related status
adsl-int              + show the no. of available pm intervals per adsl
                        interface
operational-data      + show the adsl operational statistics status
carrier-data          + show the adsl carrier statistics status
failure-status        + show the adsl failure-status statistics status
counters              + show the adsl counters status
cpe-inventory         + show the adsl inventory status at XTU-R/CPE
co-inventory          + show the adsl inventory status at XTU-C/CO
board                 + show the board capability status
config-data-port      + show the configuration data per port status
oper-data-port        + show the operational data per port status
link-up-changes       + show the adsl status
linkup-record         + show the link up record for the line
imp-noise-sensor      + show impulse noise sensor
ont                   + show ont adsl parameters
vect-disturbers       X shows the vectoring disturber table for each line
vect-disturber-list   + show the vectoring disturber list
vect-carrier-data     + show the adsl vectoring carrier data statistics
vp-board              + shows the actual detected vp-lt mapping
vect-group            + shows the actual or cached vectoring group data and the
                        own actual data of the slv-lt board

<CR>                  : execute command

