================================================================================
etsi table (detailed)
================================================================================
            isam-release : {{ context.box.software_version }}
================================================================================

