================================================================================
name table (detailed)
================================================================================

--------------------------------------------------------------------------------
name
--------------------------------------------------------------------------------
                  name : {{ context.vlan.name }}
                    id : {{ context.vlan.number }}
================================================================================

