=================================================================================================
bridge-port-fdb table
=================================================================================================
port               |vlan-id         |mac              |fdb-id          |status |vmac
-------------------+----------------+-----------------+----------------+-------+-----------------

