{{ context.service_port.name }}{{ context.spacer1 }}{{ context.vlan_id }}{{ context.spacer2 }}{{ context.cpe_mac }}{{ context.spacer3 }}{{ context.fdb_id }}{{ context.spacer4 }}learned 00:00:00:00:00:00

