  {{ context.ont_port.ont_port_type }}{{ context.spacer17 }}{{ context.ont_port.ont_port_index }}{{ context.spacer18 }}{{ context.ont_port.igmp_mode }}{{ context.spacer19 }}{{ context.ont_port.igmp_vlan }}{{ context.spacer20 }}{{ context.ont_port.igmp_pri }}{{ context.spacer21 }}{{ context.ont_port.max_mac_count }}

