  --------------------------------------------------------------------------
  ONT-ID   ONT      ONT       Speed(Mbps)   Duplex   LinkState  RingStatus
           port-ID  Port-type
  --------------------------------------------------------------------------
{{ context.spacer1 }}{{ context.ont_id }}{{ context.spacer2 }}{{ context.ont_port_id }}{{ context.spacer3 }}{{ context.ont_port.ont_port_type }}{{ context.spacer4 }}{{ context.ont_port.speed}}{{ context.spacer5 }}{{ context.ont_port.duplex }}{{ context.spacer6 }}{{ context.ont_port.link_state }}{{ context.spacer7 }}{{ context.ont_port.ring_status }}
  --------------------------------------------------------------------------

