  -----------------------------------------------------------------------------
  Port-type  Port-ID    IGMP-mode         IGMP-VLAN  IGMP-PRI  Max-MAC-Count
  -----------------------------------------------------------------------------

