 ------------------------------------------------------------------------
  G.994.1 vendor ID                : {{ context.cpe.g_994_1_vendor_id }}
    G.994.1 country code           : {{ context.cpe.g_994_1_country_code }}
    G.994.1 provider code          : {{ context.cpe.g_994_1_provider_code }}
    G.994.1 vendor info            : {{ context.cpe.g_994_1_vendor_info }}
  System vendor ID                 : {{ context.cpe.system_vendor_id }}
    System country code            : {{ context.cpe.system_country_code }}
    System provider code           : {{ context.cpe.system_provider_code }}
    System vendor info             : {{ context.cpe.system_vendor_info }}
  Version number                   : {{ context.cpe.version_number }}
  Version number(octet string)     : {{ context.cpe.version_number_oct }}
  Vendor serial number             : {{ context.cpe.vendor_serial_number }}
  Self-test result                 : {{ context.cpe.self_test_result }}
  Transmission mode capability     :
    G.992.1(Annex B)                 G.992.3(Annex B/J)
    G.992.5(Annex B/J)               G.993.2(Annex A/B/C)
    G.993.5
  ------------------------------------------------------------------------

