{{ context.spacer10 }}{{ context.ont_port.ont_port_type }}{{ context.spacer11 }}{{ context.ont_port.ont_port_index }}{{ context.spacer12 }}{{ context.ont_port.downstream_mode }}{{ context.spacer13 }}{{ context.ont_port.mismatch_policy }}

