---------------------------------------------
  Command of vlanif{{ context.component.number }} Mode:
---------------------------------------------
description           Specify interface description
dhcp-client           DHCP client configuration command
display               Display information
firewall              Specify firewall configuration
ip                    <Group> ip command group
ipv6                  <Group> ipv6 command group
ntp-service           Specify NTP (Network Time Protocol) configuration
                      information
quit                  Exit from current mode and enter prior mode
return                Enter the privileged mode
shutdown              Shutdown the specified interface
switch                Switch language mode
undo                  Negate a command or set its defaults

