configure
#-------------------------------------------------------------------------------
echo "vlan"
#-------------------------------------------------------------------------------
vlan
  broadcast-frames
  priority-policy port-default
  vmac-address-format
    host-id 0
  exit

