alarm                 + manage alarms
atm                   + manage ATM interfaces
igmp                  + manage igmp
pppox-relay           + manage pppox-relay
pppoel2-stats         + reset the PPPoE L2 statistics
pppoe-client          + manage PPPoE client related parameters
xdsl-line             + manage the xdsl-line
ont-xdsl-line         + manage the xdsl-line
software-mngt         + manage the software
shdsl-seg             + manage the shdsl-segment
session               + disconnect a cli session
system                + manage system related parameters
trouble-shooting      + manage trouble-shooting counters
voice                 + manage voice
xstp                  + manage mstp
save                  + Save existing configuration
display-config        + Display existing IHUB configuration

[no] enable-tech      + Enable the shell and kernel commands
dist-service          + manage distributed service
pon                   + manage the pon parameters
channel-pair          + manage the channel pair parameters
ces                   + manage loopback on CESUNI port
cfm                   + To manage CFM tests.
port-protection       + trigger manual switchover between ports in a protection
                        group
efm-oam               + manage efm oam
epon                  + manage loopback on CESUNI port
cable                 + clear cable
cm                    + manage cm 
cmts                  + manage cmts
iphost                + To manage iphost function.
config-file           + manage the configuration file
equipment             + manage the equipment
ethernet              + manage bridge
bridge                + manage bridge
trap                  + manage traps
interface             + manage interface
dhcp-relay            + manage dhcp-relay
arp-relay-stats       + manage the arp relay statistics
transport             + manage transport
sntp                  + manage SNTP
transaction           + manage transaction
security              + manage security

<CR>                  : execute command

