configure ethernet line {{ context.index }}
#---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
echo "ethernet"
#---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
mau {{ context.mau.index }}
  type {{ context.mau.type }}
  power {% if '1' in context.mau.admin_state %}on
  {% else %}off
  {% endif %}
  no speed-auto-sense
  {% if 'true' in context.mau.auto_neg_supported %}autonegotiate
  {% else %}no autonegotiate
  {% endif %}
  no cap100base-tfd
  cap1000base-xfd
  no cap1000base-tfd
  no cap10gbase-tfd
exit
#---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

