port {{ context.service_port.name }}
  no default-priority # value=0
  no mac-learn-off
{% if context.service_port.max_unicast_mac != None %}  max-unicast-mac {{ context.service_port.max_unicast_mac }}
{% else %}{% endif %}
{% if context.qos_profile_name != None %}  qos-profile name:{{ context.qos_profile_name }}
{% else %}{% endif %}
  no prio-regen-prof # value=none
  no prio-regen-name # value=none
  no max-committed-mac # value=65535
  no mirror-mode # value=disable
  no mirror-vlan # value=0
  no outervlancapture # value=0
  no direction # value=bidirection
  no pvid-tagging-flag # value=onu
  no ds-pbit-mode # value=auto

