{{ context.port_name_prefix }}{{ context.port.name }} is {{ context.port.admin_state }}, line protocol is {{ context.port.operational_state }}
  Ifindex is {{ context.port_index }}, unique port number is {{ context.port_index }}
  Description: {{ context.port.description }}
  Hardware is Giga-FX-SFP, address is 0000.0000.0000 (bia 0000.0000.0000)
  MTU 1500 bytes, BW 1000000 kbit, DLY 10 usec
  Encapsulation ARPA
  Full-duplex,  1000Mb/s,  Flow-Control Off
  Transceiver Info:
    SFP,SC,1490nm,1000BASE-FX,SM 20KM
   DDM:YES,vend name:FLEXOPTIX
  DDM info:
    TX power:-5.77 dBM, RX power:-8.69 dBM
    SFP temperature:47.47 C,supply voltage :3.35V,Bias Current.:22.83mA
  5 minutes input rate 19984 bits/sec, 14 packets/sec
  5 minutes output rate 181938 bits/sec, 22 packets/sec
     Received 1453915288 packets, 423353832200 bytes
     91844 broadcasts, 3703 multicasts
     80383 discard, 0 error, 0 PAUSE
     0 align, 0 FCS, 0 symbol
     0 jabber, 0 oversize, 0 undersize
     0 carriersense, 0 collision, 0 fragment
     0 L3 packets, 0 discards, 0 Header errors
     Transmited 2314077206 packets, 2575563279031 bytes
     208980057 broadcasts, 37503905 multicasts
     4839 discard, 0 error, 0 PAUSE
     0 sqettest, 0 deferred
     0 single, 0 multiple, 0 excessive, 0 late
     0 L3 forwards

