---------------------------------------------
  Command of config Mode:
---------------------------------------------
aaa                   AAA(Authentication,Authorization,Accounting) view
acl                   <Group> acl command group
active                Activate state of the bonding group
ancp                  ANCP configuration command
arp                   <Group> arp command group
auto-backup           Auto backup
bind                  Bind IP
board                 Command keyword
bonding-group         Bonding group
btv                   Broadband TV
build-configuration   Configuration file build mode
bulk-stat             Set the bulk statistic module
car-threshold         Priority CAR threshold
cfm                   Continuity Fault Management
clear                 <Group> clear command group
command               Configure the alias name parameter
config                System config
cos-queue-map         802.1p priority and queue map
cpu-overload-control  Set bucket parameters
deactive              Deactivate state of the bonding group
debugging             <Group> debugging command group
default               Configure default MAC pool
default-policy        Configure default policy
defaultvlan           Configure default VLAN type
dhcp                  <Group> dhcp command group
dhcp-option82         DHCP-option82
dhcpv6                <Group> dhcpv6 command group
dhcpv6-option         DHCPv6-option permit-forwarding
dns                   Specify domain name system
dot1x                 802.1X
dpbo-esel             DPBO-ESEL
dscp-to-pbits         DSCP mapping table
early-drop            <Group>early-drop command group
efm                   <Group> efm command group
emu                   <Group> emu command group
encapsulation         Set encapsulation type
erps                  Ethernet ring protection switching
eth                   <Group> eth command group
firewall              <Group> firewall command group
frame                 Set frame attribute
hwtacacs-server       Set HWTACACS server
igmp                  <Group> igmp command group
info-center           Specify message output configuration information
interface             <Group> interface command group
io-packetfile         Activate the patch file of the board software packet
ip                    IP information
ipoa                  IPoA config
ipoe                  IPoE single MAC command
ipprec-to-pbits       IP precedence mapping table
ipv6                  <Group> ipv6 command group
isolate               Isolate information
lacp                  Configure LACP Protocol
line-rate             Limit the rate of the outbound packets of the interface
link-aggregation      <Group> link-aggregation command group
linktrap              Link trap switch of the port
lldp                  Link Layer Discovery Protocol
load                  System load command
loopback              Loopback test
mac-address           <Group> mac-address command group
mac-count-zero        Maximum MAC address learning number is zero
mac-pool              Configure/display MAC pool
mmi-mode              Activating the machine-machine mode
multi-service-port    Add multi-service-port
multicast-vlan        Setup and enter multicast VLAN mode
nac                   Neighbor automatic communication
ntp-service           Specify NTP (Network Time Protocol) configuration
                      information
overload-aware        Awareness of overload
packet                Packet
packet-filter         Filter packets based on acl
pbits-to-pbits        Priority mapping table
pitp                  <Group> pitp command group
pm                    Performance measurement
port                  <Group> port command group
pppoa                 <Group> pppoa command group
pppoe                 <Group> pppoe command group
protocol              Configure protocol forwarding policy
protocol-8021p-pri    802.1p priority of L3 protocol packet on this VLAN
qos-policy-profile    QoS policy profile
queue-buffer          CoS queue buffer size ratio
queue-scheduler       CoS queue scheduling mode
queue-shaping         Queue shaping
queue-wred            Set WRED profile of the queue(s)
quit                  Exit from current mode and enter prior mode
rack                  Set Rack description attribute
radius-server         Add or delete radius-server template
raio                  <Group> raio command group
raio-anid             ANID
raio-anip             ANIP
raio-format           Set user-defined RAIO format string
raio-mode             Set relay agent info option mode
raio-profile          RAIO profile
reset                 <Group> reset command group
return                Enter the privileged mode
ring                  Configure/display ring check information
rn                    Remote network equipment
router                Configure router information
rsa                   Specify RSA module configuration information
security              <Group> security command group
service-port          Service port
simulate              <Group> simulate command group
snmp-agent            <Group> snmp-agent command group
snmp-profile          <Group>SNMP profile command group
ssh                   Specify SSH (secure shell) configuration information
ssl                   Security socket layer
ssl-policy-file       SSL policy file
stacking              VLAN stacking
stp                   Spanning tree protocol
super                 Modify super password parameters
syslog                <Group> syslog command group
sysman                Operation on firewall
system                <Group> system command group
tcp                   Specify TCP(Transmission Control Protocol) configuration information
telnet                Open a telnet connection
temperature           <Group> temperature command group
terminal              User operate (add, delete, modify attribute)
test                  Enter test mode
time                  Set system time
time-range            Specify time-range configuration information
traffic               Configure traffic table
traffic-limit         Limit the rate of the packets
traffic-mirror        Mirror the packets
traffic-priority      Specify new priority of the packets
traffic-statistic     Count the packets
traffic-suppress      Set traffic suppression default value
undo                  Negate a command or set its defaults
vdsl                  VDSL
vlan                  <Group> vlan command group
vmac                  Configure/display VMAC information
wred-profile          WRED profile
xdsl                  <Group> xdsl command group
---------------------------------------------
  Command of privilege Mode:
---------------------------------------------
active                Enable configuration
alarm                 <Group> alarm command group
alarm-event           Alarm and event
autosave              <Group> autosave command group
backup                <Group> backup command group
baudrate              Set serial baudrate
client                Users information
debugging             <Group> debugging command group
dhcp                  DHCP
diagnose              Change into diagnose mode
disable               Turn off privileged mode commands
display               Display information
erase                 Erase command
event                 <Group> event command group
file-server           File server information
ftp                   FTP user and password configuration
infoswitch            Set output switch of information terminal
load                  <Group> load command group
local-user            Local-user
loghost               Log server configuration operation
patch                 Patch operation
ping                  <Group> ping command group
pppoe                 PPPoE
quit                  Exit from current mode and enter prior mode
reboot                Reboot system
reset                 <Group> reset command group
resource              System resources(mem,message,cpu)
rollback              System rollback command
save                  The command of saving immediately
serial-mode           Set access-mode: console/EMU
set                   Set the operative time of undo rollback function
ssh                   Specify SSH (secure shell) configuration information
super                 Modify super password parameters
syslog                <Group> syslog command group
sysman                Configuration of the management channel
sysname               Set system network name
system                <Group> system command group
terminal              <Group> terminal command group
time                  <Group> time command group
timezone              Set time zone
tracert               <Group> tracert command group
trap                  <Group> trap command group
trap-sync             Set trap synchronization switch
undo                  Negate a command or set its defaults
vlan                  VLAN
---------------------------------------------
  Command of user Mode:
---------------------------------------------
cls                   Clear screen
display               Display information
echo                  Echo
help                  Description of the interactive help system
history-command       Enable and control the command history function
idle-timeout          Set the interval of terminal timeout
interactive           Enable or disable command execute confirm function
mmi-mode              Activating the machine-machine mode
quit                  Exit from current mode and enter prior mode
scroll                Set auto or manual scroll function
smart                 Enable or disable smart function
stelnet               Establish an Stelnet connection
super                 Modify super password parameters
switch                Switch language mode
telnet                Open a telnet connection
terminal              Operation of config terminal
undo                  Negate a command or set its defaults

