  It will take some time, please wait...
  -----------------------------------------------------------------------
   SRV-P BUNDLE TYPE MAC            MAC TYPE F /S /P   VPI  VCI   VLAN ID
   INDEX INDEX
  -----------------------------------------------------------------------
       -     -  eth  0014-2d4c-347f dynamic  0 /0 /0   -    -        2302
       -     -  eth  34a2-a2b9-6a3b dynamic  0 /0 /0   -    -        2302
       -     -  eth  80a2-357a-703f dynamic  0 /0 /0   -    -        2302
       -     -  eth  b86a-9704-ad75 dynamic  0 /0 /0   -    -        2302
       -     -  eth  80a2-357a-82e3 dynamic  0 /0 /0   -    -           1
       -     -  eth  b86a-976f-864c dynamic  0 /0 /0   -    -        2302
       -     -  eth  0020-d242-23ba dynamic  0 /0 /0   -    -        2302
       -     -  eth  0019-8f69-65f4 dynamic  0 /0 /0   -    -        2302
       -     -  eth  80a2-357a-82df dynamic  0 /0 /0   -    -        2323
       -     -  eth  0019-8f68-0a46 dynamic  0 /0 /0   -    -        2302
       -     -  eth  748e-f878-ca60 dynamic  0 /0 /0   -    -        2302
       -     -  eth  34a2-a2b9-69ab dynamic  0 /0 /0   -    -        2302
       -     -  eth  b86a-9704-b195 dynamic  0 /0 /0   -    -        2302
       -     -  eth  0020-d24d-ace5 dynamic  0 /0 /0   -    -        2302
       -     -  eth  0019-8f68-0a28 dynamic  0 /0 /0   -    -        2302
       -     -  eth  0020-d24e-2bae dynamic  0 /0 /0   -    -        2302
       -     -  eth  b86a-976f-92ac dynamic  0 /0 /0   -    -        2302
       -     -  eth  0014-2d2c-cc2f dynamic  0 /0 /0   -    -        2302
       -     -  eth  00e0-df63-42d9 dynamic  0 /0 /0   -    -        2302
       -     -  eth  b86a-9704-9ff5 dynamic  0 /0 /0   -    -        2302
       -     -  eth  80a2-357a-82df dynamic  0 /0 /0   -    -           1
       -     -  eth  0019-8f5f-9a9f dynamic  0 /0 /0   -    -        2302
       -     -  eth  0019-8f90-2c89 dynamic  0 /0 /0   -    -        2302
       -     -  eth  b86a-9742-0463 dynamic  0 /0 /0   -    -        2302
       -     -  eth  0019-8f90-1fca dynamic  0 /0 /0   -    -        2302
       -     -  eth  b86a-9742-03a3 dynamic  0 /0 /0   -    -        2302
       -     -  eth  e030-05c7-6128 dynamic  0 /0 /0   -    -        2302
       -     -  eth  fc33-4216-dab0 dynamic  0 /0 /0   -    -        2302
       -     -  eth  0020-d231-d4bf dynamic  0 /0 /0   -    -        2302
       -     -  eth  0020-d246-9b9c dynamic  0 /0 /0   -    -        2302
       -     -  eth  0019-8f69-ddb6 dynamic  0 /0 /0   -    -        2302
       -     -  eth  b86a-976f-80cc dynamic  0 /0 /0   -    -        2302
       -     -  eth  0014-2d2c-cc28 dynamic  0 /0 /0   -    -        2302
       -     -  eth  e4a8-b6c5-02dc dynamic  0 /0 /0   -    -        2302
       -     -  eth  0019-8f67-06bd dynamic  0 /0 /0   -    -        2302
       -     -  eth  000a-19c8-8462 dynamic  0 /0 /0   -    -        2302
       -     -  eth  00e0-df71-6899 dynamic  0 /0 /0   -    -        2302
       -     -  eth  0060-3519-3ee6 dynamic  0 /0 /0   -    -        2302
       -     -  eth  00a2-eeb0-97ec dynamic  0 /0 /0   -    -        2320
       -     -  eth  34a2-a2b9-6a73 dynamic  0 /0 /0   -    -        2302
       -     -  eth  80a2-357a-6e9f dynamic  0 /0 /0   -    -        2302
       -     -  eth  0019-8f67-1736 dynamic  0 /0 /0   -    -        2302
       -     -  eth  384c-4f1e-c114 dynamic  0 /0 /0   -    -        2302
       -     -  eth  0020-d246-79e0 dynamic  0 /0 /0   -    -        2302
       -     -  eth  000a-19ca-3af4 dynamic  0 /0 /0   -    -        2302
       -     -  eth  609c-9fbb-9b9c dynamic  0 /0 /0   -    -        2302
       -     -  eth  384c-4f1e-c23c dynamic  0 /0 /0   -    -        2302
       -     -  eth  0019-8f1f-8131 dynamic  0 /0 /0   -    -        2302
       -     -  eth  0018-2317-dc33 dynamic  0 /0 /0   -    -        2302
       -     -  eth  00e0-df30-829d dynamic  0 /0 /0   -    -        2302
       -     -  eth  34a2-a2b9-695b dynamic  0 /0 /0   -    -        2302
       -     -  eth  80a2-357a-82df dynamic  0 /0 /0   -    -        2320
       -     -  eth  00e0-df70-7273 dynamic  0 /0 /0   -    -        2302
       -     -  eth  b86a-976f-8c0c dynamic  0 /0 /0   -    -        2302
       -     -  eth  0014-2d4b-7fd4 dynamic  0 /0 /0   -    -        2302
       -     -  eth  00e0-df70-7e73 dynamic  0 /0 /0   -    -        2302
       -     -  eth  0019-8f90-1c8f dynamic  0 /0 /0   -    -        2302
       -     -  eth  80a2-357a-72bf dynamic  0 /0 /0   -    -        2302
       -     -  eth  80a2-357a-647f dynamic  0 /0 /0   -    -        2302
       -     -  eth  0019-8f69-d6b4 dynamic  0 /0 /0   -    -        2302
       -     -  eth  0020-d23b-c9a1 dynamic  0 /0 /0   -    -        2302
       -     -  eth  b86a-976f-830c dynamic  0 /0 /0   -    -        2302
       2     -  vdl  3481-c403-3b3c dynamic  0 /1 /2   -    -        2320
       -     -  eth  000a-19c5-9cd6 dynamic  0 /0 /0   -    -        2302
       -     -  eth  0019-8f69-cfef dynamic  0 /0 /0   -    -        2302
       -     -  eth  80a2-357a-68ff dynamic  0 /0 /0   -    -        2302
       -     -  eth  0014-2d4c-348b dynamic  0 /0 /0   -    -        2302
       -     -  eth  0014-2d28-d377 dynamic  0 /0 /0   -    -        2302
       -     -  eth  609c-9fbb-b45c dynamic  0 /0 /0   -    -        2302
       -     -  eth  0020-d240-cd9c dynamic  0 /0 /0   -    -        2302
       -     -  eth  000a-19ca-3558 dynamic  0 /0 /0   -    -        2302
       -     -  eth  0019-8f90-1fd4 dynamic  0 /0 /0   -    -        2302
       -     -  eth  748e-f878-efa0 dynamic  0 /0 /0   -    -        2302
       -     -  eth  000a-19ca-34b3 dynamic  0 /0 /0   -    -        2302
       -     -  eth  384c-4f1e-c194 dynamic  0 /0 /0   -    -        2302
       -     -  eth  b86a-97a7-743c dynamic  0 /0 /0   -    -        2302
       -     -  eth  748e-f877-56f0 dynamic  0 /0 /0   -    -        2302
       -     -  eth  20d8-0bec-9047 dynamic  0 /0 /0   -    -        2320
       -     -  eth  748e-f878-55b0 dynamic  0 /0 /0   -    -        2302
       -     -  eth  80a2-357a-5cdf dynamic  0 /0 /0   -    -        2302
       -     -  eth  b86a-976f-9b6c dynamic  0 /0 /0   -    -        2302
       -     -  eth  34a2-a2b9-6afb dynamic  0 /0 /0   -    -        2302
       -     -  eth  20d8-0bec-9064 dynamic  0 /0 /0   -    -        2302
       -     -  eth  0019-8f67-1733 dynamic  0 /0 /0   -    -        2302
       -     -  eth  b86a-976f-904c dynamic  0 /0 /0   -    -        2302
       -     -  eth  b86a-976f-802c dynamic  0 /0 /0   -    -        2302
       -     -  eth  80a2-357a-82df dynamic  0 /0 /0   -    -        2302
       -     -  eth  000a-19ca-971c dynamic  0 /0 /0   -    -        2302
       -     -  eth  0019-8f67-fcca dynamic  0 /0 /0   -    -        2302
       -     -  eth  0019-8f90-2c8d dynamic  0 /0 /0   -    -        2302
       -     -  eth  0019-8f67-e400 dynamic  0 /0 /0   -    -        2302
       -     -  eth  000a-19ca-3940 dynamic  0 /0 /0   -    -        2302
       -     -  eth  b86a-9741-ffe3 dynamic  0 /0 /0   -    -        2302
       -     -  eth  b86a-976f-886c dynamic  0 /0 /0   -    -        2302
       -     -  eth  346a-c24d-5d6d dynamic  0 /0 /0   -    -        2302
       -     -  eth  b86a-976f-890c dynamic  0 /0 /0   -    -        2302
       -     -  eth  0020-d246-131d dynamic  0 /0 /0   -    -        2302
       -     -  eth  80a2-357a-657f dynamic  0 /0 /0   -    -        2302
       -     -  eth  0019-8f67-079e dynamic  0 /0 /0   -    -        2302
       -     -  eth  000a-19ca-96a3 dynamic  0 /0 /0   -    -        2302
       -     -  eth  00e0-df4d-cc7d dynamic  0 /0 /0   -    -        2302
       -     -  eth  34a2-a2b9-6943 dynamic  0 /0 /0   -    -        2302
       -     -  eth  00e0-df63-6e4d dynamic  0 /0 /0   -    -        2302
       -     -  eth  b86a-976f-930c dynamic  0 /0 /0   -    -        2302
       -     -  eth  0014-2d4b-cd0a dynamic  0 /0 /0   -    -        2302
       -     -  eth  0000-5e00-0101 dynamic  0 /0 /0   -    -        2302
       -     -  eth  b86a-976f-8fec dynamic  0 /0 /0   -    -        2302
       -     -  eth  b86a-976f-9b4c dynamic  0 /0 /0   -    -        2302
       -     -  eth  0020-d245-f909 dynamic  0 /0 /0   -    -        2302
       -     -  eth  b86a-97a7-853c dynamic  0 /0 /0   -    -        2302
  -----------------------------------------------------------------------
  Total: 110
  Note: F--Frame, S--Slot, P--Port,
        A--The MAC address is learned or configured on the aggregation port,
        VPI indicates GEM Port ID for GPON,
        v/e--vlan/encap, pritag--priority-tagged,
        ppp--pppoe, ip--ipoe, ip4--ipv4oe, ip6--ipv6oe

