{{ context.spacer_beg2 }}{{ context.subrackname }}{{ context.spacer7 }}{{ context.cardportname }}{{ context.spacer8 }}{{ context.ont_id }}{{ context.spacer9 }}{{ context.ont.serial_number }}{{ context.spacer10 }}{{ context.ont.control_flag}}{{ context.spacer11 }}{{ context.ont.run_state }}{{ context.spacer12 }}{{ context.ont.config_state }}{{ context.spacer13 }}{{ context.ont.match_state }}{{ context.spacer14 }}{{ context.ont.protect_side }}

