 vlan service-profile profile-id {{ context.profile.id}} profile-name {{ context.profile.name}}
 {% if context.profile.vmac_ipoe != None %}  vmac {{ context.profile.vmac_ipoe}} ipoe
{% endif %}
  {% if context.profile.vmac_pppoe != None %}  vmac {{ context.profile.vmac_pppoe}} pppoe
{% endif %}
  {% if context.profile.vmac_pppoa != None %}  vmac {{ context.profile.vmac_pppoa}} pppoa
{% endif %}
  {% if None != context.profile.vlan_mac %}  {{ context.profile.vlan_mac}} vlan-mac
{% endif %}
  {% if context.profile.packet_policy_multicast != None %}  packet-policy multicast {{ context.profile.packet_policy_multicast}}
{% endif %}
  {% if context.profile.packet_policy_unicast != None %}  packet-policy unicast {{ context.profile.packet_policy_unicast}}
{% endif %}
  {% if context.profile.security_anti_ipspoofing != None %}  security anti-ipspoofing {{ context.profile.security_anti_ipspoofing}}
{% endif %}
  {% if context.profile.security_anti_macspoofing != None %}  security anti-macspoofing {{ context.profile.security_anti_macspoofing}}
{% endif %}
  {% if context.profile.igmp_mismatch != None %}  igmp mismatch {{ context.profile.igmp_mismatch}}
{% endif %}
  {% if context.profile.commit == True %}  commit
{% endif %}

