  -----------------------------------------------------------------------
  Total: 110
  Note: F--Frame, S--Slot, P--Port,
        A--The MAC address is learned or configured on the aggregation port,
        VPI indicates GEM Port ID for GPON,
        v/e--vlan/encap, pritag--priority-tagged,
        ppp--pppoe, ip--ipoe, ip4--ipv4oe, ip6--ipv6oe

