----------------------------------------------------------------------------
   Number              : 1
   F/S/P               : 0/1/6
   Ont SN              : 4857544346DAD39A (HWTC-46DAD39A)
   Password            : 0x00000000000000000000
   Loid                :
   Checkcode           :
   VendorID            : HWTC
   Ont Version         : 635.A
   Ont SoftwareVersion : V3R015C10S106
   Ont EquipmentID     : 010H
   Ont autofind time   : 2020-07-08 09:11:12+01:00
   ----------------------------------------------------------------------------
   The number of GPON autofind ONT is 1