  ---------------------------------------
  Board Name          : HS22CCVW
  Board Status        : Active normal
  ---------------------------------------

  ------------------------------------------------------------------------------
  Port Port COMBO    Optic    MDI    Speed      Duplex    Flow- Active   Link
       Type Mode     Status          (Mbps)               Ctrl  State
  ------------------------------------------------------------------------------
     0 GE   -        normal   -      auto_1000  auto_full off   active   online
  ------------------------------------------------------------------------------
  ------------------------------------------------------------------------------
  Port  15Min   15Min    24Hour  24Hour
        AlmProf WarnProf AlmProf WarnProf
  ------------------------------------------------------------------------------
     0        -        -       -        -
  ------------------------------------------------------------------------------
  Note: For a 1000 M, electrical port in the full-duplex mode, setting MDI to
        any value is invalid
  ------------------------------------------------------------------------------
  Port  Port Type        Link State
  ------------------------------------------------------------------------------
     1  AUTO             DOWN
  ------------------------------------------------------------------------------

