{{ context.vlanif.name }} current state : {% if context.vlanif.admin_state  == '1' %} UP {% else %} DOWN {% endif %}

Line protocol current state : {% if context.vlanif.line_proto_state == '1' %} UP {% else %} DOWN {% endif %}

Description : HUAWEI, SmartAX Series, {{ context.vlanif.name }} Interface
The Maximum Transmit Unit is {{ context.vlanif.mtu }} bytes
{% if context.vlanif.internet_protocol == 'enabled' %}Internet Address is {{ context.vlanif.internet_address }}/{{ context.vlanif.subnet_num }}
{% else %}Internet protocol processing : {{ context.vlanif.internet_protocol }}
{% endif %}
IP Sending Frames' Format is {{ context.vlanif.sending_frames_format }}, Hardware address is {{ context.vlanif.hardware_address }}



