{{ context.spacer1 }}{{ context.vlan.number }}   {{ context.vlan.type }}{{ context.spacer2 }}{{ context.vlan.attribute }}{{ context.spacer3 }}{{ context.portnum}}{{ context.spacer4 }}{{ context.servportnum }}{{ context.spacer5 }}

