   ----------------------------------------------------------------------------
   Number              : {{ context.ont.index }}
   F/S/P               : {{ context.port_identifier }}
   Ont SN              : {{ context.ont.serial_number }}
   Password            : 0x00000000000000000000
   Loid                :
   Checkcode           :
   VendorID            : {{ context.ont.vendor_id }}
   Ont Version         : {{ context.ont.version }}
   Ont SoftwareVersion : {{ context.ont.software_version }}
   Ont EquipmentID     : 010H
   Ont Customized Info : -
   Ont autofind time   : 2020-08-20 12:19:59+01:00
   ----------------------------------------------------------------------------

