 Command:
          display vlan all
  ---------------------------------------------------------
  VLAN   Type      Attribute  STND-Port NUM   SERV-Port NUM
  ---------------------------------------------------------

