  ------------------------------------------------------------------------------
  Profile index: {{ context.vdsl_id }}      Name: DEFVAL
  Transmission mode:
    T1.413                           G.992.1(Annex A/B/C)
    G.992.2(Annex A/C)               G.992.3(Annex A/B/I/J/L/M)
    G.992.4(Annex A/I)               G.992.5(Annex A/B/I/J/M)
    G.993.2(Annex A/B/C)
  Bit swap downstream                             : Enable
  Bit swap upstream                               : Enable
  Form of transmit rate adaptation downstream     : AdaptAtStartup
  Form of transmit rate adaptation upstream       : AdaptAtStartup
  Target SNR margin downstream(0.1dB)             : 60
  Minimum SNR margin downstream(0.1dB)            : 0
  Maximum SNR margin downstream(0.1dB)            : 300
  Target SNR margin upstream(0.1dB)               : 60
  Minimum SNR margin upstream(0.1dB)              : 0
  Maximum SNR margin upstream(0.1dB)              : 300
  UPBO US1 band reference PSD parameters[a, b]    : 1650,1020
  UPBO US2 band reference PSD parameters[a, b]    : 1650,615
  UPBO US3 band reference PSD parameters[a, b]    : 0,0
  UPBO US4 band reference PSD parameters[a, b]    : 0,0
  UPBO Boost Mode                                 : Enable
  UPBO US1 band reference electrical length       : 0
  UPBO US2 band reference electrical length       : 0
  UPBO US3 band reference electrical length       : 0
  UPBO US4 band reference electrical length       : 0
  UPBO use of electrical length to compute UPBO   : Auto
  Kl0 selection                                   : max(kl0_CO,kl0_CPE)
  UPBO electrical length estimation mode          : ELE_M0
  UPBO electrical length threshold percentile     : 10
  Allow transition to idle                        : not allowed
  Allow transition to low power                   : not allowed
  L0 time(second)                                 : 255
  L2 time(second)                                 : 30
  L3 time(second)                                 : 255
  Maximum aggregate transmit power reduction(dB)  : 3
  Total maximum aggregate transmit power reduction
  (dB)                                            : 9
  <defmode>
    G.993.2 profile                               : Profile12a
    VDSL2 PSD class mask                          : AnnexB998-M2x-B(B8-6)
    VDSL2 link use of U0                          : Unused
    Maximum nominal aggregate transmit power
    downstream(0.1dBm)                            : 145
    Maximum nominal aggregate transmit power
    upstream(0.1dBm)                              : 145
    Upstream PSD mask selection                   : ADLU-32/EU-32
    Virtual noise mode downstream                 : Disable
    Virtual noise mode upstream                   : Disable
    G.993.2 profile autosensing                   : Disable
  Network timing reference clock mode             : FreeRun
  INM inter arrival time offset downstream
  (DMT symbol)                                    : 3
  INM inter arrival time step downstream          : 0
  INM cluster continuation value downstream
  (DMT symbol)                                    : 0
  INM equivalent INP mode downstream              : 0
  INM inter arrival time offset upstream
  (DMT symbol)                                    : 3
  INM inter arrival time step upstream            : 0
  INM cluster continuation value upstream
  (DMT symbol)                                    : 0
  INM equivalent INP mode upstream                : 0
  SOS time window downstream(64ms)                : 0
  Minimum percentage of degraded tones downstream : 0
  Minimum number of normalized CRC anomalies
  downstream(0.02)                                : 65535
  Maximum number of SOS downstream                : 0
  SNR margin offset of ROC downstream(0.1dB)      : 0
  Minimum impulse noise protection of ROC
  downstream                                      : 0
  SOS time window upstream(64ms)                  : 0
  Minimum percentage of degraded tones upstream   : 0
  Minimum number of normalized CRC anomalies
  upstream(0.02)                                  : 65535
  Maximum number of SOS upstream                  : 0
  SNR margin offset of ROC upstream(0.1dB)        : 0
  Minimum impulse noise protection of ROC
  upstream                                        : 0
  G.998.4 retransmission control in downstream    : RTX_FORBIDDEN
  G.998.4 retransmission control in upstream      : RTX_FORBIDDEN
  Force framer setting for inp downstream         : False
  Force framer setting for inp upstream           : False
  ------------------------------------------------------------------------------

