  {{ context.ont_port.ont_port_type }}{{ context.spacer22 }}{{ context.ont_port.ont_port_index }}{{ context.spacer23 }}{{ context.ont_port.service_type }}{{ context.spacer24 }}{{ context.ont_port.service_index }}{{ context.spacer25 }}{{ context.ont_port.s_vlan }}{{ context.spacer26 }}{{ context.ont_port.s_pri }}{{ context.spacer27 }}{{ context.ont_port.c_vlan }}{{ context.spacer28 }}{{ context.ont_port.c_pri }}{{ context.spacer29 }}{{ context.ont_port.encap }}{{ context.spacer30 }}{{ context.ont_port.s_pri_policy }}

