---------------------------------------------
  Command of {{ context.product }} {{ context.interface_id }} Mode:
---------------------------------------------
activate              Activate port
alarm-config          Set alarm template of port
atm-ping              Oam ping
chipset               Reset chipset
deactivate            Deactivate port
display               Display information
interface             Change into VDSL command mode
loopback              Loopback port
quit                  Exit from current mode and enter prior mode
return                Enter the privileged mode
set                   Set information
switch                Switch language mode
traffic-suppress      Set port traffic suppression
undo                  Negate a command or set its defaults
vdsl                  <Group> vdsl command group
vectoring-config      Bind the vectoring profile
xdsl                  XDSL

