  -------------------------------------------------------------------------
  SlotID  BoardName  Status           SubType0 SubType1    Online/Offline
  -------------------------------------------------------------------------

