Help may be requested at any point in a command by entering
  a question mark '?'. If nothing matches, the help list may
  be empty
  Two styles of help are provided:
    1. Full help is available when you are ready to enter a
       command argument ( e.g. 'display ?' ) and describes each
       possible argument
    2. Partial help is provided when an abbreviated argument
       is entered and you want to know what arguments match
       the input ( e.g. 'display l?' )

