[no] prompt           : the specification of the prompt
                        default = ""
[no] terminal-timeout : specify the inactivity timeout of the terminal
                        default = timeout:30
[no] print            : specifies the way the output is printed on the terminal
                        default = default

[no] inhibit-alarms   : disables the alarm reporting in the current  session

[no] mode             : the mode in which the CLI handles command input
                        default = interactive

<CR>                  : execute command

