more                  ! the output is passed via the more filter
no-more               ! the output is put directly on the terminal
default               ! use the method as specified by the profile

