                                                                   \ # configuredProfiles
                                                                   \ # vccProfile
{{ context.vcc.vcc_profile }}{{ context.spacer1 }}\ # name
                                                                   \ # vlanProfile
{{ context.vcc.vlan_profile }}{{ context.spacer2 }}\ # Name

