                                                                   \ # EquipmentStatus
{{ context.unit_state }}{{ context.spacer_1 }}\ # State
{{ context.unit_hardware | safe }}{{ context.spacer_2 }}\ # Hardware
{{ context.unit_software | safe }}{{ context.spacer_3 }}\ # Software
{{ context.unit_serial_number | safe }}{{ context.spacer_4 }}\ # SerialNumber
{{ context.unit_manufacturer_name | safe }}{{ context.spacer_5 }}\ # ManufacturerName
{{ context.unit_model_name | safe }}{{ context.spacer_6 }}\ # ModelName

