                                                                   \ # DdmStatus
Supported                                                          \ # DdmInterfaceSupport
35                                                                 \ # ModuleTemperature
3.34E0                                                             \ # SupplyVoltage
0.0E0                                                              \ # TxBiasCurrent
-9                                                                 \ # TxOutputPower
-40                                                                \ # RxInputPower

