                                                                   \ # EquipmentInventory
{{ context.unit_symbol | safe }}{{ context.spacer_1 }}\ # Symbol
{{ context.unit_short_text | safe }}{{ context.spacer_2 }}\ # ShortText
{{ context.unit_board_id }}{{ context.spacer_3 }}\ # BoardId
{{ context.unit_hardware_key }}{{ context.spacer_4 }}\ # HardwareKey
{{ context.unit_manufacturer_id | safe }}{{ context.spacer_5 }}\ # ManufacturerId
{{ context.unit_serial_number | safe }}{{ context.spacer_6 }}\ # ManufacturerSerialNumber
{{ context.unit_manufacturer_part_number | safe }}{{ context.spacer_7 }}\ # ManufacturerPartNumber
{{ context.unit_manufacturer_build_state | safe }}{{ context.spacer_8 }}\ # ManufacturerBuildState
{{ context.unit_supplier_part_number | safe }}{{ context.spacer_9 }}\ # SupplierPartNumber
{{ context.unit_supplier_build_state | safe }}{{ context.spacer_10 }}\ # SupplierBuildState
{{ context.unit_customer_id | safe }}{{ context.spacer_11 }}\ # CustomerId
{{ context.unit_customer_product_id | safe }}{{ context.spacer_12 }}\ # CustomerProductId
{{ context.unit_boot_loader | safe }}{{ context.spacer_13 }}\ # Bootloader
{{ context.unit_processor | safe }}{{ context.spacer_14 }}\ # Processor

