                                                                   \ # Profiles
                                                                   \ # VDSLxPrio1
{{ context.port.profile1_enable }}{{ context.spacer1 }}\ # Enabled
{{ context.port.profile1_name }}{{ context.spacer2 }}\ # Name
{{ context.port.profile1_elength }}{{ context.spacer3 }}\ # MaxElectricalLoopLength
                                                                   \ # VDSLxPrio2
{{ context.port.profile2_enable }}{{ context.spacer4 }}\ # Enabled
{{ context.port.profile2_name }}{{ context.spacer5 }}\ # Name
{{ context.port.profile2_elength }}{{ context.spacer6 }}\ # MaxElectricalLoopLength
                                                                   \ # VDSLxPrio3
{{ context.port.profile3_enable }}{{ context.spacer7 }}\ # Enabled
{{ context.port.profile3_name }}{{ context.spacer8 }}\ # Name
{{ context.port.profile3_elength }}{{ context.spacer9 }}\ # MaxElectricalLoopLength
                                                                   \ # ADSLxPrio4
{{ context.port.profile4_enable }}{{ context.spacer10 }}\ # Enabled
{{ context.port.profile4_name }}{{ context.spacer11 }}\ # Name
                                                                   \ # AutomaticProfileSwitching
{{ context.port.profile_mode }}{{ context.spacer12 }}\ # Mode

