                                                                   \ # PHYState
LinkDown                                                           \ # Speed
LinkDown                                                           \ # Duplex
false                                                              \ # IEEE802_3FlowControl

