                                                                   \ # serviceStatus
{{ context.vcc.number_of_conn_services }}{{ context.spacer1 }}\ # NumberOfConnectedServices
{{ context.vcc.reconfiguration_allowed }}{{ context.spacer2 }}\ # ReconfigurationAllowed
{{ context.vcc_services_connected | safe }}{{ context.spacer3 }}\ # ServicesCurrentConnected

