                                                                   \ # Nto1AccessService
                                                                   \ # Interface
{{ context.service.address }}{{ context.spacer1 }}\ # Address
                                                                   \ # Specific
{{ context.service.svid }}{{ context.spacer2 }}\ # Svid
{{ context.service.stag_priority }}{{ context.spacer3 }}\ # STagPriority
PPPoE                                                              \ # LogonMethod
{{ context.service.vlan_handling }}{{ context.spacer4 }}\ # VLANHandling
false                                                              \ # SourceFilter
false                                                              \ # DestinationFilter
false                                                              \ # SourceIPFilter
false                                                              \ # DynamicARPInspection
false                                                              \ # MacForcedForwarding
Assigned                                                           \ # PriorityHandling
default                                                            \ # CoSProfile

