{                                                                  \ # UnicastList
  \ # [0] #
                                                                   \ # PortDynamicListEntry
  1                                                                \ # Index
  00A38EA34DD0                                                     \ # MacAddress
  2620                                                             \ # VlanId
  0.0.0.0                                                          \ # IpAddress
;                                                                  \
}                                                                  \

