{{ context.spacer_beg2 }}{{ context.portname }}{{ context.spacer10 }}{{ context.port.alm_prof_15_min }}{{ context.spacer11 }}{{ context.port.warn_prof_15_min }}{{ context.spacer12 }}{{ context.port.alm_prof_24_hour }}{{ context.spacer13 }}{{ context.port.warn_prof_24_hour }}

