  ------------------------------------------------------------------------------
  Port Port COMBO    Optic    MDI    Speed      Duplex    Flow- Active   Link
       Type Mode     Status          (Mbps)               Ctrl  State
  ------------------------------------------------------------------------------

