{{ context.spacer1 }}{{ context.s_port.name }}{{ context.spacer2 }}{{ context.vlan.number }}{{ context.spacer3 }}{{ context.vlan.attribute }}{{ context.spacer4 }}{{ context.porttype }}{{ context.spacer5 }}{{ context.portname }}{{ context.spacer6 }}{{ context.s_port.vpi }}{{ context.spacer7 }}{{ context.s_port.vci }}{{ context.spacer8 }}{{ context.s_port.flow_type }}{{ context.spacer9 }}{{ context.s_port.flow_para }}{{ context.spacer10 }}{{ context.s_port.rx }}{{ context.spacer11 }}{{ context.s_port.tx }}{{ context.spacer12 }}{{ context.s_port.operational_state }}

