---------------------------------------------
  Command of test Mode:
---------------------------------------------
display               Display information
quit                  Exit from current mode and enter prior mode
return                Enter the privileged mode
switch                Switch language mode
wetting-current       Wetting current
xdsl                  XDSL test

