
profile commands
----------------

create               -- create a profile
list                 -- list profiles
showDefaults         -- show default values of a profile type
showTypes            -- show available profile types
showValues           -- show values of a profile

Syntax:
  profile <command>


