=====================================================================================================================================================================================
transceiver-inventory table (detailed)
=====================================================================================================================================================================================

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
transceiver-inventory
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
                 index : {{ context.port.position }}
      inventory-status : {{ context.port.inventory_status }}
        nokia-part-num : {{ context.port.alu_part_num }}
             clei-code : {{ context.card.clei_code }}
         tx-wavelength : {{ context.port.tx_wavelength }}
            fiber-type : {{ context.port.fiber_type }}
              mfg-name : {{ context.port.mfg_name }}
               mfg-oui : {{ context.port.mfg_oui }}
              mfg-date : {{ context.port.mfg_date }}
     vendor-serial-num : {{ context.card.serial_no }}
       additional-info : not-available
          rssi-sfptype : {{ context.port.rssi_sfptype }}
      inventory-status : {{ context.port.inventory_status }}
=====================================================================================================================================================================================

