{{ context.subrack.name }}{{ context.spacer1 }}{{ context.subrack.actual_type }}{{ context.spacer2 }}{{ context.enabled }}{{ context.spacer3 }}{{ context.subrack.err_state }}{{ context.spacer4 }}{{ context.subrack.availability }}

