--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
transceiver-inventory count : {{ context.count }}
========================================================================================================================================================================================================

