================================================================================
operational-data table (detailed)
================================================================================

--------------------------------------------------------------------------------
operational-data
--------------------------------------------------------------------------------
               ont-idx : {{ context.ont.name }}{{ context.spacer1 }}loss-of-signal : {{ context.ont.loss_of_signal }}
           loss-of-ack : {{ context.ont.loss_of_ack }}{{ context.spacer2 }}loss-of-gem : {{ context.ont.loss_of_gem }}
     physical-eqpt-err : {{ context.ont.physical_eqpt_err }}{{ context.spacer3 }}startup-failure : {{ context.ont.startup_failure }}
        signal-degrade : {{ context.ont.signal_degrade }}{{ context.spacer4 }}ont-disabled : {{ context.ont.ont_disabled }}
         msg-error-msg : {{ context.ont.msg_error_msg }}{{ context.spacer5 }}inactive : {{ context.ont.inactive }}
         loss-of-frame : {{ context.ont.loss_of_frame }}{{ context.spacer6 }}signal-fail : {{ context.ont.signal_fail }}
            dying-gasp : {{ context.ont.dying_gasp }}{{ context.spacer7 }}deactivate-fail : {{ context.ont.deactivate_fail }}
         loss-of-ploam : {{ context.ont.loss_of_ploam }}{{ context.spacer8 }}drift-of-window : {{ context.ont.drift_of_window }}
     remote-defect-ind : {{ context.ont.remote_defect_ind }}{{ context.spacer9 }}loss-of-key-sync : {{ context.ont.loss_of_key_sync }}
    rogue-ont-disabled : {{ context.ont.rogue_ont_disabled }}{{ context.spacer10 }}diff-reach : {{ context.ont.diff_reach }}
      ont-olt-distance : {{ context.ont.ont_olt_distance }}
================================================================================

