{{ context.port.position }}{{ context.spacer1 }}{{ context.port.inventory_status }}{{ context.spacer2 }}{{ context.port.alu_part_num }}{{ context.spacer3 }}{{ context.port.tx_wavelength }}{{ context.spacer4 }}{{ context.port.fiber_type }}{{ context.spacer5 }}{{ context.port.rssi_sfptype }}

