========================================================================================================================================================================================================
transceiver-inventory table
========================================================================================================================================================================================================
index                   |inventory-status  |alu-part-num                                                   |tx-wavelength                                                  |fiber-type   |rssi-sfptype
------------------------+------------------+---------------------------------------------------------------+---------------------------------------------------------------+-------------+--------------

