---------------------------------------------------------------------------------
slot
---------------------------------------------------------------------------------
          ont-slot-idx : {{ context.ont.name }}/1
    act-num-data-ports : {{ context.ont.act_num_data_ports }}{{ context.spacer1 }}act-num-voice-ports : {{ context.ont.act_num_voice_ports }}
      actual-card-type : {{ context.ont.actual_card_type }}{{ context.spacer2 }}actual-ont-integ : {{ context.ont.actual_ont_integ }}
     actual-serial-num : {{ context.ont.actual_serial_num }}{{ context.spacer3 }}actual-version-num : {{ context.ont.actual_version_num }}
       actual-vendorid : {{ context.ont.actual_vendorid }}
         actual-cardid : {{ context.ont.actual_cardid }}
                 state : {{ context.ont.state }}

