{{ context.ident }}{{ context.spacer1 }}{{ context.card.sensor_id }}{{ context.spacer2 }}{{ context.card.act_temp }}{{ context.spacer3 }}{{ context.card.tca_low }}{{ context.spacer4 }}{{ context.card.tca_high }}{{ context.spacer5 }}{{ context.card.shut_low }}{{ context.spacer6 }}{{ context.card.shut_high }}

