=====================================================================================================================================================================================
{{ context.template_type }} table (detailed)
=====================================================================================================================================================================================

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
{{ context.template_type }}
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
              if-index : {{ context.if_index }}{{ context.spacer1 }}index : {{ context.mau.index }}{{ context.spacer2 }}type : {{ context.mau.type }}{{ context.spacer3 }}media-available : {{ context.mau.media_available }}
          jabber-state : {{ context.mau.jabber_state }}{{ context.spacer4 }}b100basefxfd : {{ context.mau.b100basefxfd }}{{ context.spacer5 }}b100baselx10 : {{ context.mau.b100baselx10 }}{{ context.spacer6 }}b100basebx10d : {{ context.mau.b100basebx10d }}
         b100basebx10u : {{ context.mau.b100basebx10u }}{{ context.spacer7 }}b100basetxfd : {{ context.mau.b100basetxfd }}{{ context.spacer8 }}b1000basetfd : {{ context.mau.b1000basetfd }}{{ context.spacer9 }}b10gbasetfd : {{ context.mau.b10gbasetfd }}
         b1000basesxfd : {{ context.mau.b1000basesxfd }}{{ context.spacer10 }}b1000baselx10 : {{ context.mau.b1000baselx10 }}{{ context.spacer11 }}b1000baselxfd : {{ context.mau.b1000baselxfd }}{{ context.spacer12 }}b1000basebx10u : {{ context.mau.b1000baselxfd }}
        b1000basebx10d : {{ context.mau.b1000basebx10d }}{{ context.spacer13 }}b10gbaser : {{ context.mau.b10gbaser }}{{ context.spacer14 }}b10gbaselr : {{ context.mau.b10gbaselr }}{{ context.spacer15 }}b10gbaseer : {{ context.mau.b10gbaseer }}
            b2500basex : {{ context.mau.b2500basex }}{{ context.spacer16 }}auto-neg-supported : {{ context.mau.auto_neg_supported }}{{ context.spacer17 }}auto-neg-status : {{ context.mau.auto_neg_status }}{{ context.spacer18 }}cap100base-tfd : {{ context.mau.cap100base_tfd }}
       cap1000base-xfd : {{ context.mau.cap1000base_xfd }}{{ context.spacer19 }}cap1000base-tfd : {{ context.mau.cap1000base_tfd }}{{ context.spacer20 }}cap10gbase-tfd : {{ context.mau.cap10gbase_tfd }}
=====================================================================================================================================================================================

