================================================================================
cpe-inventory table (detailed)
================================================================================
--------------------------------------------------------------------------------
cpe-inventory
--------------------------------------------------------------------------------
         if-index : {{ context.port.name }}
  modem-vendor-id : B5004946544E590C
    sys-serial-no : "F0B014F2EB3E F!Box7490 113.06.93"
    sys-vendor-id : 040041564D000000
   sys-version-no : 312E3130302E3133352E313820413600
 self-test-result : 00000000
================================================================================

