-------------------------------------------------------------------------------------------------
bridge-port-fdb count : {{ context.bridgeportcount }}
=================================================================================================

