
---------------------------------------------------------------------------------------------------------------------------------------------------
bridge-port-fdb
---------------------------------------------------------------------------------------------------------------------------------------------------
                  port : {{ context.service_port.name }}
               vlan-id : {{ context.vlan_id }}
                   mac : {{ context.cpe_mac }}
                fdb-id : {{ context.fdb_id }}
                status : {{ context.service_port.admin_state }}
                  vmac : 00:00:00:00:00:00

