                                                                   \ # AttainableRate
{{ context.port.downstream }}{{ context.spacer1 }}\ # Downstream
{{ context.port.upstream }}{{ context.spacer2 }}\ # Upstream

