                                                                   \ # AttainableRate
{{ context.port.downstream_max }}{{ context.spacer1 }}\ # Downstream
{{ context.port.upstream_max }}{{ context.spacer2 }}\ # Upstream

