                                                                   \ # EquipmentStatus
Empty                                                              \ # State
""                                                                 \ # Hardware
""                                                                 \ # Software
""                                                                 \ # SerialNumber
""                                                                 \ # ManufacturerName
""                                                                 \ # ModelName

