                                                                   \ # EquipmentInventory
""                                                                 \ # Symbol
""                                                                 \ # ShortText
0                                                                  \ # BoardId
0                                                                  \ # HardwareKey
""                                                                 \ # ManufacturerId
""                                                                 \ # ManufacturerSerialNumber
""                                                                 \ # ManufacturerPartNumber
""                                                                 \ # ManufacturerBuildState
""                                                                 \ # SupplierPartNumber
""                                                                 \ # SupplierBuildState
""                                                                 \ # CustomerId
""                                                                 \ # CustomerProductId
""                                                                 \ # Bootloader
""                                                                 \ # Processor

