                                                                   \ # HardwareAndSoftware
{{ context.unit_hardware | safe }}{{ context.spacer_1 }}\ # Hardware
{{ context.unit_supplier_build_state | safe }}{{ context.spacer_2 }}\ # SupplierBuildState
{{ context.unit_board_id | safe }}{{ context.spacer_3 }}\ # BoardId
{{ context.unit_hardware_key | safe }}{{ context.spacer_4 }}\ # HardwareKey
{{ context.unit_software | safe }}{{ context.spacer_5 }}\ # Software
{{ context.unit_software_name | safe }}{{ context.spacer_6 }}\ # SoftwareName
{{ context.unit_software_revision | safe }}{{ context.spacer_7 }}\ # SoftwareRevision

