                                                                   \ # Ip
10.16.12.14                                                       \ # GatewayIpAddress
255.255.255.0                                                      \ # SubnetMask
10.16.12.1                                                        \ # DefaultGateway

