                                                                   \ # Ip
{{ context.card.gateway_ipaddress }}{{ context.spacer1 }}\ # GatewayIpAddress
{{ context.card.subnet_mask }}{{ context.spacer2 }}\ # SubnetMask
{{ context.card.default_gateway }}{{ context.spacer3 }}\ # DefaultGateway

