                                                                   \ # ManagementInterface
{{ context.ip_address }}{{ context.spacer1 }}\ # IpAddress
{{ context.net_mask }}{{ context.spacer2 }}\ # NetworkMask
{{ context.default_gateway }}{{ context.spacer3 }}\ # DefaultGateway

