}                                                                  \
{{ context.port.register_as_global | lower }}{{ context.spacer2 }}\ # RegisterAsGlobal
{{ context.port.register_default_number_only | lower }}{{ context.spacer3 }}\ # RegisterDefaultNumberOnly
{{ context.port.layer_1_permanently_activated | lower }}{{ context.spacer8 }}\ # Layer1PermanentlyActivated
{{ context.port.sip_profile }}{{ context.spacer4 }}\ # SipProfile
{{ context.port.proxy_registrar_profile }}{{ context.spacer5 }}\ # ProxyRegistrarProfile
{{ context.port.codec_sdp_profile }}{{ context.spacer6 }}\ # CodecSdpProfile
{{ context.port.isdnba_profile }}{{ context.spacer7 }}\ # IsdnBaProfile

