                                                                   \ # IsdnPort
{{ context.port.enable | lower }}{{ context.spacer1 }}\ # Enable
{                                                                  \ # SubscriberIdentifications

