  \ # [0] #
                                                                   \ # SubscriberId
  "9108007"                                                        \ # SubscriberNumber
  "4962329108007"                                                  \ # AuthorisationUserName
  "5yhnxz7x"                                                       \ # AuthorisationPassword
  ""                                                               \ # DisplayName
  None                                                             \ # privacy
;                                                                  \

