                                                                   \ # IsdnPort
{{ context.port.enable }}{{ context.spacer1 }}\ # Enable
{                                                                  \ # SubscriberIdentifications

