                                                                   \ # Labels
{{ context.port.label1 | safe  }}{{ context.spacer1 }}\ # Label1
{{ context.port.label2 | safe }}{{ context.spacer2 }}\ # Label2
{{ context.port.description | safe }}{{ context.spacer3 }}\ # Description

