                                                                   \ # LinePayloadRate
                                                                   \ # PayloadRate
0                                                                  \ # ActualPayloadRate
0                                                                  \ # MaxAttainablePayloadRate
Auto                                                               \ # Tcpam

