                                                                   \ # OperationalWireState
NO-WIRE                                                            \ # CurrentState
2wire                                                              \ # Attainable

