                                                                   \ # PortMacStatus
2000                                                               \ # MaxPacketLength
00W0DACF4D79                                                       \ # MACAddress

