}                                                                  \
{{ context.port.register_as_global | lower }}{{ context.spacer2 }}\ # RegisterAsGlobal
{{ context.port.pay_phone | lower }}{{ context.spacer3 }}\ # PayPhone
{{ context.port.sip_profile }}{{ context.spacer4 }}\ # SipProfile
{{ context.port.proxy_registrar_profile }}{{ context.spacer5 }}\ # ProxyRegistrarProfile
{{ context.port.codec_sdp_profile }}{{ context.spacer6 }}\ # CodecSdpProfile
{{ context.port.pstn_profile }}{{ context.spacer7 }}\ # PstnProfile
{{ context.port.enterprise_profile }}{{ context.spacer8 }}\ # EnterpriseProfile

