                                                                   \ # Registrar
{{ context.card.registrar_adress | safe }}{{ context.spacer1 }}\ # RegistrarAddress
{{ context.card.registrar_port }}{{ context.spacer2 }}\ # RegistrarPort
{{ context.card.registration_mode }}{{ context.spacer3 }}\ # RegistrationMode
{{ context.card.registration_expiration_time }}{{ context.spacer4 }}\ # RegistrationExpirationTime

