                                                                   \ # sip
"Name"                                                     \ # GatewayName
"hab.dich.loieb.net"                                             \ # HomeDomain
500                                                               \ # SipPortNumber
"+49"                                                              \ # CountryCode
"6567"                                                             \ # AreaCode
500                                                                \ # RetransmissionTimerT1
4                                                                  \ # MaxRetransmissionIntervalT2
false                                                              \ # SipExtension100relRequired
None                                                               \ # assertedIdentityMode
true                                                               \ # OverlapSignalling
30                                                                 \ # OverlapT10timer
                                                                   \ # SessionTimer
false                                                              \ # UacRequestSessionTimer
false                                                              \ # UasRequestSessionTimer
1800                                                               \ # SessionExpiration

