                                                                   \ # Status
                                                                   \ # Downstream
{{ context.channel.curr_rate_d }}{{ context.spacer1 }}\ # CurrentRate
{{ context.channel.prev_rate_d }}{{ context.spacer2 }}\ # PreviousRate
{{ context.channel.curr_delay_d }}{{ context.spacer3 }}\ # CurrentDelay
                                                                   \ # Upstream
{{ context.channel.curr_rate_u }}{{ context.spacer4 }}\ # CurrentRate
{{ context.channel.prev_rate_u }}{{ context.spacer5 }}\ # PreviousRate
{{ context.channel.curr_delay_u }}{{ context.spacer6 }}\ # CurrentDelay

