  \ # [{{ context.i }}] #
                                                                   \ # Subscriber
  "{{ context.subscriber.number }}"{{ context.spacer1 }}\ # SubscriberNumber
  "{{ context.subscriber.registration_state }}"{{ context.spacer2 }}\ # RegistrationStatus
  "{{ context.subscriber.address }}"{{ context.spacer3 }}\ # Address
;                                                                  \

