                                                                   \ # DSLvendor
                                                                   \ # CO
"B400/ITTN/0001"                                                   \ # VendorId
"14.3.3.60.0.22"                                                   \ # VersionNumber
"5610864561"                                                       \ # SerialNumber
"0x07 40 00 00 00 18 00 11"                                        \ # DslLineTransCap
                                                                   \ # CPE
"B400/ITTN/2F0A"                                                   \ # VendorId
"1.283.5.17 AB"                                                    \ # VersionNumber
"3CDH5F478B7B F!Box7550 165.70.10"                                 \ # SerialNumber
"0x00 11 40 11 50 10 03 00"                                        \ # DslLineTransCap

