
show commands
-------------

mode                 -- Show current modes
version              -- Show CLI version
ftpserver            -- Show (S)FTP server settings
sessionIf            -- Show CLI sessionIf

Syntax:
  show <command>


