
Syntax:
  ftpserver <ipAddress> <user> <password>

Configure the (s)ftp-server settings

  ipAddress  IP address                                            -- IP address of the server
  user       characters                                            -- User to logon the server
  password   characters                                            -- Password to logon the server


