
Syntax:
  help [<operation>]

Display a description for global commands or for the optionally specified operation

  operation                                                        -- any valid command or property operation

Notation syntax:
  - Parameters enclosed in square brackets [ ] are optional
  - Parameter values enclosed in angle brackets < > must be specified by the user
  - Predefined selections are enclosed in parantheses ( ) and separated by a vertical bar |
  - Elements in tables are enclosed in curly brackets { } and separated by a semicolon ;

MO address syntax:
  - An absolute address notation always begins with the slash '/'
  - The addition of a MF after the MO address is optional

  [(. | ..)]/<MO-address>[/(main | cfgm | fm | pm | status)]

  /                                forward-slash                   -- substitute for the AP root and separator for multiple address elements
  MO-address                                                       -- The MO address consists of one or several node IDs, separated with a slash
  (main | cfgm | fm | pm | status) keywords for MFs                -- The management function may be appended to the MO-address
  ./                               dot forward-slash               -- substitute for the current location in the AP tree
  ../                              dot dot forward-slash           -- one step upwards in the AP tree



