
Syntax:
  download <address> <remoteFile>

Download a file (serverpath/filename) from the (s)ftp server into the NE

  address    MO address                                            -- MO address of a file node
  remoteFile characters                                            -- Filepath and -name on file server


