  cd                       -- Change directory
  clear                    -- Clear something
  config                   -- Enter configurative mode
  connect                  -- Open a outgoing connection
  copy                     -- Copy configuration or image data
  date                     -- Set system date
  debug                    -- Debugging functions
  delete                   -- Delete a file
  dir                      -- List files in flash memory
  disconnect               -- Disconect an existing outgoing network connection
  enable                   -- Turn on privileged commands
  enter                    -- Turn on privileged commands
  ethernet                 -- Ethernet Operation
  exit                     -- Exit / quit
  format                   -- Format file system
  help                     -- Description of the interactive help system
  history                  -- Look up history
  md                       -- Create directory
  more                     -- Display the contents of a file
  no                       -- Negate configuration
  ping                     -- Test network status
  ping6                    -- Test network status
  pwd                      -- Display current directory
  quit                     -- Exit / quit
  rcommand                 -- Run command on remote switch
  rd                       -- Delete a directory
  reboot                   -- Restart system
  rename                   -- Rename a file
  restart                  -- Restart routing protocol
  resume                   -- Resume an active outgoing network connection
  show                     -- Show configuration and status
  ssh                      -- Open a ssh connection
  su                       -- Enter super user mode
  telnet                   -- Open a telnet connection
  terminal                 -- Set terminal line parameters
  traceroute               -- Trace route to destination
  traceroute6              -- Trace route to destination
  udld                     -- UDLD protocol commands
  where                    -- Display all outgoing telnet connection
  write                    -- Save current configuration

