Building configuration...

Current configuration:
{% if context.port.exclamation_mark == True %}!
{% endif %}
interface GigaEthernet{{ context.port.name }}
 {% if context.port.description != '' %} description {{ context.port.description }}
 {% endif %}
 {% if context.port.no_snmp_trap_link_status == True %} no snmp trap link-status
 {% endif %}
 {% if context.port.switchport_trunk_vlan_allowed != None %} switchport trunk vlan-allowed {{ context.port.switchport_trunk_vlan_allowed }}
 {% endif %}
 {% if context.port.switchport_mode_trunk == True %} switchport mode trunk
 {% endif %}
 {% if context.port.switchport_pvid != None %} switchport pvid {{ context.port.switchport_pvid }}
 {% endif %}
 {% if context.port.spanning_tree_guard_root == True %} spanning-tree guard root
 {% endif %}
 {% if context.port.no_pdp_enable == True %} no pdp enable
 {% endif %}
 {% if context.port.no_lldp_transmit == True %} no lldp transmit
 {% endif %}
 {% if context.port.pbn_speed != None %} speed {{ context.port.pbn_speed }}
 {% endif %}
 {% if context.port.switchport_block_multicast == True %} switchport block multicast
 {% endif %}
 {% if context.port.switchport_rate_limit_ingress != None %} switchport rate-limit {{ context.port.switchport_rate_limit_ingress }} ingress
 {% endif %}
 {% if context.port.switchport_rate_limit_egress != None %} switchport rate-limit {{ context.port.switchport_rate_limit_egress }}
 {% endif %}


