  Hardware state is {{ context.ont_port.operational_state }}
  Admin state is {{ context.ont_port.admin_state }}
  Flow-Control is {{ context.ont_port.flow_control }}
  Duplex is {{ context.ont_port.duplex }}
  Speed is {{ context.ont_port.speed }}
  Storm-Control is {{ context.ont_port.storm_control }}

