---------------------------------------------
  Command of diagnose Mode:
---------------------------------------------
_display-source-job-records
                      Source job records
_display-source-userintf
                      Source job records
aaa                   AAA information
anti-rogueont         Anti-rogueont
arp                   <Group> ARP command group
arp-broadcast         ARP broadcast
atm-ping              Atm-ping
backup                <Group> backup command group
bind                  Bind the dynamic-profile to a port
btv                   Broadband TV
bulk-dist             <Group> bulk-dist command group
capture               Capture packets by ptype
capture-acl           ACL rule for capturing packets
clear                 <Group> clear command group
cpu-overload-control  CPU overload key word
debug                 Set dotting switch
debugging             <Group> debugging command group
dhcp                  <Group> dhcp command group
dhcp-option82         DHCP-option82
dhcp-snooping         DHCP-snooping
dhcpv6                <Group> DHCPv6 command group
display               Display information
dns                   Specify domain name system
dopra                 The clock
dpbo-calculation      Dpbo-calculation mode
dsl                   XDSL
efm                   Ethernet fault management
erase                 Erase command
errcode               Error Code
fault-info            Fault information
geqd                  General entry queue downlod
igmp                  IGMP keyword
iop-capture           Start the IOP capturing action on the specified board
ip                    <group>ip group command
ipoa                  IPoA config
ipoe-smac             IPoE single MAC command
ipv6                  IPv6 configuration commands
lacp                  Link Aggregation Control Protocol
link-aggregation      Modify link aggregation hash option
load                  System load command
loopback              Loopback port
mirror                Mirror config
multicast             Multicast
nd                    <Group> nd command group
ntp-service           Specify NTP (Network Time Protocol) configuration
                      information
pm                    Performance measurement
port-status-info      Collect information about running lines
pppoa                 Open PPPoA packets statistics switch
pppoe                 <Group> pppoe command group
priority-mark         The priority of the packet send by the system
quit                  Exit from current mode and enter prior mode
reset                 <Group> reset command group
return                Enter the privileged mode
save                  Save vsram to flash
set                   <Group> set command group
simpleactivate        Simpleactivate/no simpleactivate
socket                Socket module
socket-monitor        Switch of sock-monitor
synchronize           Enable system debugging functions
system                <Group> system command group
tocpu                 Print tocpu packet
transparent           <Group> transparent command group
undo                  Negate a command or set its defaults
upbo                  UPBO
upgrade               System software operation
xdsl                  <Group> xdsl command group
---------------------------------------------
  Command of privilege Mode:
---------------------------------------------
active                Enable configuration
alarm                 <Group> alarm command group
alarm-event           Alarm and event
autosave              <Group> autosave command group
backup                <Group> backup command group
baudrate              Set serial baudrate
client                Users information
config                Configuration from terminal
debugging             <Group> debugging command group
dhcp                  DHCP
disable               Turn off privileged mode commands
display               Display information
erase                 Erase command
event                 <Group> event command group
file-server           File server information
ftp                   FTP user and password configuration
infoswitch            Set output switch of information terminal
load                  <Group> load command group
local-user            Local-user
loghost               Log server configuration operation
patch                 Patch operation
ping                  <Group> ping command group
pppoe                 PPPoE
quit                  Exit from current mode and enter prior mode
reboot                Reboot system
reset                 <Group> reset command group
resource              System resources(mem,message,cpu)
rollback              System rollback command
save                  The command of saving immediately
serial-mode           Set access-mode: console/EMU
set                   Set the operative time of undo rollback function
ssh                   Specify SSH (secure shell) configuration information
super                 Modify super password parameters
syslog                <Group> syslog command group
sysman                Configuration of the management channel
sysname               Set system network name
system                <Group> system command group
terminal              <Group> terminal command group
time                  <Group> time command group
timezone              Set time zone
tracert               <Group> tracert command group
trap                  <Group> trap command group
trap-sync             Set trap synchronization switch
undo                  Negate a command or set its defaults
vlan                  VLAN
---------------------------------------------
  Command of user Mode:
---------------------------------------------
cls                   Clear screen
display               Display information
echo                  Echo
help                  Description of the interactive help system
history-command       Enable and control the command history function
idle-timeout          Set the interval of terminal timeout
interactive           Enable or disable command execute confirm function
mmi-mode              Activating the machine-machine mode
quit                  Exit from current mode and enter prior mode
scroll                Set auto or manual scroll function
smart                 Enable or disable smart function
stelnet               Establish an Stelnet connection
super                 Modify super password parameters
switch                Switch language mode
telnet                Open a telnet connection
terminal              Operation of config terminal
undo                  Negate a command or set its defaults

