  ----------------------------------------------------------------------------

  ----------------------------------------------------------------------------
  Status               Emu type(ID)        Result   Value
  ----------------------------------------------------------------------------

