  ----------------------------------------------------------------------------
  Status                                   Result   Value
  ----------------------------------------------------------------------------
  CPU occupancy                            {{ context.result }}{{ context.spacer }}{{ context.box.cpu_occupancy }}
  ----------------------------------------------------------------------------

  ----------------------------------------------------------------------------
  Status               F/S                 Result   Value
  ----------------------------------------------------------------------------

