history               - print the command history.
echo                  - echoes a string to the terminal.
telnet                - run a telnet session on SHUB or IHUB
telnet-ai             - run a telnet session on the Application Intelligence
                        platform
exec                  - executes a command file.
sleep                 - sleeps for the indicated time.
tree                  - display the command structure
write                 - write a message to logged-in operators
logout                - log out and stop the current session.
help                  - display detailed help information.
info                  - describe the current configuration.
exit                  - change the start position to the parent node.
back                  - change the start position to the previous node.
delete-file           - delete a file.

environment           + set the session environment
configure             + configure the system
show                  + show the status
admin                 + manage the system
debug-command         + Launch a debug command
ping                  + ping another host
traceroute            + determine the route to a destination address

[no] debug            + configure debugging and specify debug options
monitor               + Commands to monitor statistics
tools                 + Useful tools for debugging purposes
mtrace                + Trace multicast path from a source to a receiver
mrinfo                + Request multicast router information
mstat                 + Trace multicast path from a source to a receiver and
                        display multicast packet rate and loss information
oam                   + OAM Test suite
clear                 + Commands to clear statistics for a specified entity or
                        to clear and reset the entity

entry                 + configure the alarms in the system
filter                + configure alarm filter parameters
delta-log             + configure the delta log table
[no] custom-profile   + configure the customizable alarm profile
[no] hgutr069-cust    + configure the HGU TR069 customizable alarms

log-sev-level         : set the lowest severity level to log alarms
log-full-action       : set the action if log buffer is full
non-itf-rep-sev-level : set minimum severity level to report non itf alarms

<CR>                  : execute command