{{ context.spacer_beg1 }}{{ context.portname }}{{ context.spacer1 }}{{ context.porttype }}{{ context.spacer2 }}{{ context.port.combo_status }}{{ context.spacer3 }}{{ context.port.optic_status }}{{ context.spacer4 }}{{ context.port.mdi }}{{ context.spacer5 }}{{ context.port.speed_h }}{{ context.spacer6 }}{{ context.port.duplex }}{{ context.spacer7 }}{{ context.port.flow_ctrl }}{{ context.spacer8 }}{{ context.port.active_state }}{{ context.spacer9 }}{{ context.port.link }}

