  ------------------------------------------------------------------------------
  Standard in port training                  : {{ context.port.standard_port_in_training }}
  Current power management state             : {{ context.port.current_power_management_state }}
  Result of the last full initialization     : {{ context.port.result_last_initialization }}
  G.998.4 retransmission used downstream     : {{ context.port.retransmission_used_ds }}
  G.998.4 retransmission used upstream       : {{ context.port.retransmission_used_us }}
  Signal attenuation downstream(dB)          : {{ context.port.signal_attenuation_ds_1 }}
  Signal attenuation upstream(dB)            : {{ context.port.signal_attenuation_us_1 }}
  Line attenuation downstream(dB)            : {{ context.port.line_attenuation_ds_1 }}
  Line attenuation upstream(dB)              : {{ context.port.line_attenuation_us_1 }}
  Maximum attainable rate downstream(Kbps)   : {{ context.port.downstream_max }}
  Maximum attainable rate upstream(Kbps)     : {{ context.port.upstream_max }}
  Actual line rate downstream(Kbps)          : {{ context.port.act_line_rate_ds_1 }}
  Actual line rate upstream(Kbps)            : {{ context.port.act_line_rate_us_1 }}
  Line SNR margin downstream(dB)             : {{ context.port.line_snr_margin_ds_1 }}
  Line SNR margin upstream(dB)               : {{ context.port.line_snr_margin_us_1 }}
  VDSL2 PSD class mask                       : {{ context.port.vdsl_2_psd_class_mask }}
  Actual PSD downstream(dBm/Hz)              : {{ context.port.act_psd_ds }}
  Actual PSD upstream(dBm/Hz)                : {{ context.port.act_psd_us }}
  Actual KL0_CO value(0.1dB)                 : {{ context.port.act_klo_co }}
  Actual KL0_CPE value(0.1dB)                : {{ context.port.act_klo_cpe }}
  US1 band actual KL0 value(0.1dB)           : {{ context.port.us_1_band_act_klo_val }}
  US2 band actual KL0 value(0.1dB)           : {{ context.port.us_2_band_act_klo_val }}
  US3 band actual KL0 value(0.1dB)           : {{ context.port.us_3_band_act_klo_val }}
  US4 band actual KL0 value(0.1dB)           : {{ context.port.us_4_band_act_klo_val }}
  DS1 band actual KL0 value(0.1dB)           : {{ context.port.ds_1_band_act_klo_val }}
  DS2 band actual KL0 value(0.1dB)           : {{ context.port.ds_2_band_act_klo_val }}
  DS3 band actual KL0 value(0.1dB)           : {{ context.port.ds_3_band_act_klo_val }}
  DS4 band actual KL0 value(0.1dB)           : {{ context.port.ds_4_band_act_klo_val }}
  Receive signal threshold downstream(dB)    : {{ context.port.receive_signal_threshhold_ds }}
  Receive signal threshold upstream(dB)      : {{ context.port.receive_signal_threshhold_us }}
  Total output power downstream(dBm)         : {{ context.port.total_output_power_ds }}
  Total output power upstream(dBm)           : {{ context.port.total_output_power_ds }}
  Current VDSL2 profile                      : {{ context.port.current_vdsl_2_profile }}
  Coding gain in downstream(dB)              : {{ context.port.coding_gain_ds }}
  Coding gain in upstream(dB)                : {{ context.port.coding_gain_us }}
  Power cut back downstream(dB)              : {{ context.port.power_cut_back_ds }}
  DS1 band:
      Signal attenuation(dB)                 : {{ context.port.signal_attenuation_ds_1 }}
      Line attenuation(dB)                   : {{ context.port.line_attenuation_ds_1 }}
      Line SNR margin(dB)                    : {{ context.port.line_snr_margin_ds_1 }}
  US1 band:
      Signal attenuation(dB)                 : {{ context.port.signal_attenuation_us_1 }}
      Line attenuation(dB)                   : {{ context.port.line_attenuation_us_1 }}
      Line SNR margin(dB)                    : {{ context.port.line_snr_margin_us_1 }}
  DS2 band:
      Signal attenuation(dB)                 : {{ context.port.signal_attenuation_ds_2 }}
      Line attenuation(dB)                   : {{ context.port.line_attenuation_ds_2 }}
      Line SNR margin(dB)                    : {{ context.port.line_snr_margin_ds_2 }}
  US2 band:
      Signal attenuation(dB)                 : {{ context.port.signal_attenuation_us_2 }}
      Line attenuation(dB)                   : {{ context.port.line_attenuation_us_2 }}
      Line SNR margin(dB)                    : {{ context.port.line_snr_margin_us_2 }}
  DS3 band:
      Signal attenuation(dB)                 : {{ context.port.signal_attenuation_ds_3 }}
      Line attenuation(dB)                   : {{ context.port.line_attenuation_ds_3 }}
      Line SNR margin(dB)                    : {{ context.port.line_snr_margin_ds_3 }}
  Actual limit PSD mask                      : {{ context.port.actual_limit_psd_mask }}
  Actual transmit rate adaptation downstream : {{ context.port.actual_transmit_rate_adapt_ds }}
  Actual transmit rate adaptation upstream   : {{ context.port.actual_transmit_rate_adapt_us }}
  Actual INP of ROC downstream (DMT symbol)  : {{ context.port.actual_inp_of_roc_ds }}
  Actual INP of ROC upstream (DMT symbol)    : {{ context.port.actual_inp_of_roc_us }}
  Actual SNR margin of ROC downstream(dB)    : {{ context.port.actual_snr_margin_of_roc_ds }}
  Actual SNR margin of ROC upstream(dB)      : {{ context.port.actual_snr_margin_of_roc_us }}
  ------------------------------------------------------------------------------
  Note: The 102.3 dB signal attenuation, 102.3 dB line attenuation,
  -51.2 dB SNR margin, and 204.7 dB KL0 value indicate that the
  parameters are not within their specified ranges.

