  ---------------------------------------
  Board Name          : {{ context.card.board_name }}
  Board Status        : {{ context.card.board_status }}
  ---------------------------------------

  ------------------------------------------------------------------------------
  Line info:
  ------------------------------------------------------------------------------
  Port   Port   Status              Alarm         Spec         UPBO
         Type                       Temp          Prof         Prof
  ------------------------------------------------------------------------------

