  ------------------------------------------------------------------------------
  Note:
  DDR: Downstream Data Rate                UDR: Upstream Data Rate
  DsRa:Downstream Rate Adaptation Ratio    UsRa:Upstream Rate Adaptation Ratio

