[Unit]
Description=NESi gunicorn REST API server
After=network.target

[Service]
ExecStart=/opt/nesi/NESi/bootup/conf/systemd/non-gunicorn/start.sh

Restart=on-failure
User=nesi

[Install]
WantedBy=multi-user.target
