{{ context.spacer_beg2 }}{{ context.portname }}{{ context.spacer12 }}{{ context.port.detecting_time }}{{ context.spacer13 }}{{ context.port.tx_state }}{{ context.spacer14 }}{{ context.port.resume_detect }}{{ context.spacer15 }}{{ context.port.detect_interval }}{{ context.spacer16 }}{{ context.port.resume_duration }}{{ context.spacer17 }}{{ context.port.auto_sensing }}

