
  Channel info:
  ------------------------------------------------------------------------------
  Channel           DDR prof     UDR prof     INP prof   DsRa ratio   UsRa ratio
  ------------------------------------------------------------------------------

