{{ context.spacer_beg3 }}{{ context.channelname }}{{ context.spacer12 }}{{ context.port.channel_ds_data_rate_profile_num }}{{ context.spacer13 }}{{ context.port.channel_us_data_rate_profile_num }}{{ context.spacer14 }}{{ context.port.channel_inp_data_rate_profile_num }}{{ context.spacer15 }}{{ context.port.channel_ds_rate_adapt_ratio }}{{ context.spacer16 }}{{ context.port.channel_us_rate_adapt_ratio }}

