  ---------------------------------------
  Board Name          : {{ context.card.board_name }}
  Board Status        : {{ context.card.board_status }}
  ---------------------------------------

  ------------------------------------------------------------------------------
  Power Status      Power-off cause                    Power-off Time
  ------------------------------------------------------------------------------
  {{ context.card.power_status }}{{ context.spacer1 }}{{ context.card.power_off_cause }}{{ context.spacer2 }}{{ context.card.power_off_time }}
  ------------------------------------------------------------------------------

