
  Huawei Integrated Access Software (MA{{ model.model }}).
  Copyright(C) Huawei Technologies Co., Ltd. 2002-2015. All rights reserved.

  -----------------------------------------------------------------------------
  User last login information:
  -----------------------------------------------------------------------------
  Access Type : {{ model.network_protocol }}
  IP-Address  : {{ model.mgmt_address }}
  Login  Time : {{ context.timestamp1 }}
  Logout Time : {{ context.timestamp2 }}
  -----------------------------------------------------------------------------

