EXEC commands:
  disable      Returns to normal mode from privileged mode
  disconnect   Terminates an SSH, Telnet, or a console connection
  enable       Turns on privileged commands
  exit         Exits from privileged EXEC mode
  help         Description of the interactive help system
  ping         Sends ICMP echo request packets to another host
  ping6        Sends ICMPv6 echo request packets to another host
  quit         Exits a CLI session
  show         Shows information
  terminal     Terminal setting
  traceroute   Traces routing path
  traceroute6  Traces routing path

