***************************************************************
WARNING - MONITORED ACTIONS AND ACCESSES
FNT


Station's information:


Floor / Row / Rack / Sub-Rack
 /  /  /
DC power supply:
Power Source A: Floor / Row / Rack / Electrical circuit
 /  /  /

Number of LP:
Position MUX:
IP LAN: {{ context.ip }}
Note: {{ context.name }}
MOTD:
***************************************************************

      CLI session with the ECS4120-28Fv2-I is opened.
      To end the CLI session, enter [Exit].

