  banner      Banner info
  calendar    Date and time information
  history     Shows history information
  interfaces  Shows interface information
  ip          IP information
  lacp        LACP statistics
  line        TTY line information
  memory      Memory utilization
  privilege   Shows current privilege level
  process     Device process
  public-key  Public key information
  snmp        Simple Network Management Protocol configuration and statistics
  system      System information
  users       Information about users logged in
  version     System hardware and software versions
  vlan        Shows virtual LAN settings

