alarm                 + configure the alarm management of the system
trap                  + configure the trap related parameters
equipment             + configure the equipment

[no] port-protection  + configure a port protection group
xdsl                  + configure the dsl line
atm                   + configure the ATM management system
interface             + configure the interface management parameters
error                 + configure error handling in the system
system                + configure the system related objects
software-mngt         + configure software and database management parameters
qos                   + configure the qos
qos-servicerouter     + configure qos service router instance information
vlan                  + configure vlan related information
bridge                + configure bridge related information
arp-relay             + configure the arp relay statistics
igmp                  + configure IGMP related parameters
mcast                 + configure multicast related parameters
pppox-relay           + configure PPPoX related parameters
pppoe-client          + configure PPPoE related parameters
pppoel2               + configure the pppoe l2 statistics
dhcp-relay            + configure DHCP related information
xdsl-bonding          + configure the xdsl bonding
cpe-management        + configure the cpe management parameters
shdsl                 + configure the shdsl line
ima                   + configure the ima line
l2cp                  + configure L2CP related parameters
voice                 + configure Voice related information
debug-trace           + configure DEBUG related information
ethernet              + configure the ethernet
efm-oam               + configure efm oam parameters
cfm                   + configure CFM parameters
trouble-shooting      + configure the observed line
ipoa/e-iw             + configure ipoa l2 interworking facilities
linetest              + configure linetest related information
link-agg              + configure link aggregation related parameters
xstp                  + configure mstp related information
eth-cfm               + configure CFM parameters
router                + configure router instance
service               + Commands to configure Services
filter                + configure filter commands
mirror                + configure mirror destinations
[no] lag              + configure context for configuring LAG attributes
[no] port             + configure physical ports
log                   + configure event stream logging
[no] eth-ring         + configure ETH-RING parameters
dpoe                  + configure dpoe
cmts                  + Commands to configure cmts for DPOE
cm                    + Commands to configure cm for DPOE
channel-group         + configure channel groups
pon                   + configure the pon facility on lt card
uni                   + configure the uni
ces                   + configure the ces
ani                   + configure ani parameters
hpna                  + configure the HPNA
l2uni                 + configure l2uni parameters
iphost                + configure the IP Host parameters
veip                  + configure the VEIP
moca                  + configure moca
ntp                   + configure the ntp parameters for the ont
channel-pair          + configure the channel pair on lt card
epon                  + configure the epon facility on lt card
tr069serv             + configure tr069 service
snmp-agent            + configure snmp agent
dist-router           + configure distributed router parameters
[no] dist-service     + configure distributed service parameters
bcmp                  + configure the BCMP protocol subsystem
generic-pon           + configure system level generic pon parameters
[no] alias            + configure CLI alias for the system. The order of the
                        displayed alias commands when executing the 'info
                        configure alias' command does not persist after an NT
                        switchover or reset.
e1                    + configure the e1 line

<CR>                  : execute command

