Infos of AP: {{ context.path }}
  Name                      : {{ context.ls_Name }}
  Main Mode                 : {{ context.ls_MainMode }}
  Equipment State           : {{ context.ls_EquipmentState }}
  Alarm Severity            : Cleared
  Propagated Alarm Severity : Major
  User Label                :
  Service Label             :
  Description               :

