  Command:
          xdsl melt {{ context.port_name }} measured-frequency 25Hz busy force
  Frame: {{ context.subrack_num }} Slot: {{ context.card_num }} Port: {{ context.port_num }} under testing, Please wait......



