
  Tested port: {{ context.port_name }}
  Start time of the test: {{ context.time_beg }}
  End time of the test:   {{ context.time_end }}
  I--Invalid    V--Valid
  ------------------------------------------------------------------------------
  Test Item                                                  Flag  Result
  ------------------------------------------------------------------------------
  Conclusion:
    Does PPA exist?                                            I    no
    Does signature exist?                                      V    no
    Does hazardous voltage (AC) exist?                         V    no
    Does hazardous voltage (DC) exist?                         V    no
    Line open                                                  V    yes
    Line short                                                 V    no
    Is the phone in the off-hook state?                        V    no
    Significant terminal device capacitance detected?          V    no

  Main measurement results:
    a->ground AC voltage(V)                                    V    0.010
    b->ground AC voltage(V)                                    V    0.013
    a->b AC voltage(V)                                         V    0.012
    Frequency of a->ground foreign AC voltage(Hz)              I    0
    Frequency of b->ground foreign AC voltage(Hz)              I    0
    Frequency of a->b foreign AC voltage(Hz)                   I    0
    a->ground DC voltage(V)                                    V    -0.191
    b->ground DC voltage(V)                                    V    -0.141
    a->b DC voltage(V)                                         V    -0.051
    a->ground resistance(Ohm)                                  V    10000000
    b->ground resistance(Ohm)                                  V    10000000
    a->b resistance(Ohm)                                       V    10000000
    b->a resistance(Ohm)                                       V    10000000
    a->ground capacitance(nF)                                  V    0
    b->ground capacitance(nF)                                  V    0
    a->b capacitance(nF)                                       V    1
    Capacitance of signature or ringer(nF)                     I    0
    Resistance of signature or ringer(Ohm)                     I    0
    Vzener(V)                                                  I    -31.144
    Rzener(Ohm)                                                I    10000000
    Rbat_a(Ohm)                                                I    10000000
    Rbat_b(Ohm)                                                I    10000000

  Measurement results for reference:
    Aggregate a->ground conductance(uS)                        V    0.0
    Aggregate a->ground susceptance(uS)                        V    0.0
    Aggregate b->ground conductance(uS)                        V    0.0
    Aggregate b->ground susceptance(uS)                        V    0.0
    Aggregate a->b conductance(uS)                             V    0.0
    Aggregate a->b susceptance(uS)                             V    0.0
    AC foreign current on a wire(uA)                           V    0
    AC foreign current on b wire(uA)                           V    1
    DC foreign current on a wire(uA)                           V    -8
    DC foreign current on b wire(uA)                           V    -6
    CtrLV(nF)                                                  V   23
    CtrHV(nF)                                                  V   27
    CtrAc(nF)                                                  V   26
    RtgSer(Ohm)                                                V   10000000
    RrgSer(Ohm)                                                V   7034829
    RtrSer(Ohm)                                                V   0

  Applied measurement parameters:
    AC measurement frequency(Hz)                                    25
    a->ground highest measurement DC voltage(V)                V    -3.622
    a->ground lowest measurement DC voltage(V)                 V    -53.032
    b->ground highest measurement DC voltage(V)                V    -3.680
    b->ground lowest measurement DC voltage(V)                 V    -53.718
    a->b measurement DC voltage(V)                             V    46.790
    b->a measurement DC voltage(V)                             V    -46.626
    Current mapping the a-wire highest voltage for test(uA)    V    -49
    Current mapping the a-wire lowest voltage for test(uA)     V    -83
    Current mapping the b-wire highest voltage for test(uA)    V    80
    Current mapping the b-wire lowest voltage for test(uA)     V    116
    Current mapping the a->b voltage for test(uA)              I    32
    Current mapping the b->a voltage for test(uA)              I    0
    UtgAcAdmit(V)                                              V    7
    UrgAcAdmit(V)                                              V    7
    UtrAcAdmit(V)                                              V    6
  ------------------------------------------------------------------------------

