---------------------------------------------
  Command of (config-vlan-srvprof-10)# Mode:
---------------------------------------------
bpdu                  BPDU
commit                Commit VLAN service profile
dhcp                  DHCP command group
dhcpv6                DHCPv6 command group
display               Display information
forwarding            VLAN service-profile forwarding
igmp                  IGMP
ipv6                  IPv6 command group
l3-protocol           Layer-3 protocol
mac-address           MAC address table
mac-authen            MAC authentication
ospf                  OSPF
packet-policy         Packet policy
pitp                  PITP
pppoa                 PPPoA
pppoe                 PPPoE
quit                  Exit from current mode and enter prior mode
return                Enter the privileged mode
rip                   RIP
ripng                 RIPng
router-redirect       Router-Redirect
security              <Group> security command group
switch                Switch language mode
undo                  Negate a command or set its defaults
user-bridging         Configure user-bridging
vmac                  Configure VMAC
vtp-cdp               VTP-CDP

