  vlan-id {{ context.vlan.number }}
    tag {{ context.vlan.tag }}
    l2fwder-vlan {{ context.vlan.fdb_id }}
    vlan-scope local
    no qos # value=profile:none
    no qos-profile # value=none
    no prior-best-effort
    no prior-background
    no prior-spare
    no prior-exc-effort
    no prior-ctrl-load
    no prior-less-100ms
    no prior-less-10ms
    no prior-nw-ctrl
    no in-qos-prof-name # value=name:Default_TC0
    no max-up-qos-policy # value=0
    no max-ip-antispoof # value=65535
    no max-unicast-mac # value=65535
    no max-ipv6-antispf # value=65535
    no mac-learn-ctrl # value=3
    no min-cvlan-id # value=1
    no max-cvlan-id # value=4095
    no ds-dedicated-q # value=disable
    prio-regen-name none
  exit

