id {{ context.vlan.number }} mode {{ context.vlan.mode }}
    name {{ context.vlan.name }}
{% if context.vlan.protocol_filter != None %}    protocol-filter {{ context.vlan.protocol_filter }}
{%endif %}
{% if context.vlan.pppoe_relay_tag != None %}    pppoe-relay-tag {{ context.vlan.pppoe_relay_tag }}
{%endif %}
{% if context.vlan.in_qos_prof_name != None %}    in-qos-prof-name {{ context.vlan.in_qos_prof_name }}
{%endif %}
{% if context.vlan.pppoe_linerate != None %}    pppoe-linerate {{ context.vlan.pppoe_linerate }}
{%endif %}
{% if context.vlan.new_broadcast != 'disable' %}    new-broadcast {{ context.vlan.new_broadcast }}
{%endif %}
{% if context.vlan.new_secure_fwd != 'disable' %}    new-secure-fwd {{ context.vlan.new_secure_fwd }}
{%endif %}
{% if context.vlan.aging_time != None %}    aging-time {{ context.vlan.aging_time }}
{%endif %}
{% if context.vlan.dhcp_opt82_ext != 'disable' %}    dhcp-opt82-ext {{ context.vlan.dhcp_opt82_ext }}
{%endif %}
{% if context.vlan.circuit_id_dhcp != None %}    circuit-id-dhcp {{ context.vlan.circuit_id_dhcp }}
{%endif %}
{% if context.vlan.remote_id_dhcp != None %}    remote-id-dhcp {{ context.vlan.remote_id_dhcp }}
{%endif %}
{% if context.vlan.circuit_id_pppoe != None %}    circuit-id-pppoe {{ context.vlan.circuit_id_pppoe }}
{%endif %}
{% if context.vlan.remote_id_pppoe != None %}    remote-id-pppoe {{ context.vlan.remote_id_pppoe }}
{%endif %}
  exit

