
Syntax:
  ls [<address>] [-e]

Show infos for current address

  address  <MO address>                                            -- node address and/or MF (i.e. /unit-11/main)
  -e                                                               -- Extends infos about children


