
mode commands
-------------

display              -- Configure display operation mode
etx                  -- Configure ETX mode (cli output termination)
prompt               -- Configure prompt mode
syntaxversion        -- Configure CLI syntax version for script compatibility
warnings             -- Configure warnings mode (warnings on/off in plain display mode)

Syntax:
  mode <command>


