
Syntax:
  upload <address> <remoteFile>

Upload a file (filename) from the NE into the (s)ftp server (serverpath)

  address    MO address                                            -- MO address of a file node
  remoteFile characters                                            -- Filepath and -name on file server


