
commands
--------

cd                   -- Change to specified node address and/or MF
pwd                  -- Show current address
ls                   -- Show infos for current address
show                 -- Show settings
mode                 -- Configure operation modes
ftpserver            -- Configure the (s)ftp-server settings
upload               -- Upload a file (filename) from the NE into the (s)ftp server (serverpath)
download             -- Download a file (serverpath/filename) from the (s)ftp server into the NE
get                  -- Get property values from the node
set                  -- Define property values and send them to the node
profile              -- profile utility
help                 -- Show CLI operation help
exit                 -- Exit CLI session


