General Stats:
-------------
AdminStatus..................................{{ context.port.admin_state }}
LineStatus...................................{{ context.port.operational_state }}
DslUpLineRate (bitsPerSec)...................{{ context.port.upstream }}
DslDownLineRate (bitsPerSec).................{{ context.port.downstream }}
DslMaxAttainableUpLineRate (bitsPerSec)......{{ context.port.upstream_max }}
DslMaxAttainableDownLineRate (bitsPerSec)....{{ context.port.downstream_max }}
In Octets....................................0
In Pkts/Cells/Frags..........................0
In Discards..................................0
In Errors....................................0
Out Octets...................................0
Out Pkts/Cells/Frags.........................0
Out Discards.................................0
Out Errors...................................0

DSL Physical Stats:
------------------
DslLineSnrMgn (tenths dB)....................0
DslLineAtn (tenths dB).......................0
DslCurrOutputPwr (tenths dB).................0
LOFS.........................................0
LOLS.........................................32170614
LOSS.........................................32170614
ESS..........................................32170614
CRC Errors...................................0
Inits........................................0

near-end statstics:
------------------
Loss of Frame Seconds........................0
Loss of Signal Seconds.......................32170614
Loss of Link Seconds.........................32170614
Severely Errored Seconds.....................32170614
Unavailable Seconds..........................32170614

far-end statstics:
-----------------
Loss of Frame Seconds........................0
Loss of Signal Seconds.......................32170614
Loss of Link Seconds.........................0
Severely Errored Seconds.....................32170614
Unavailable Seconds..........................32170614
Loss of Power (dying gasps)..................0

phyR Statistics:
---------------
Vtuc PhyRActive..............................FALSE
Vtuc Retransmitted codewords.................0
Vtuc Corrected Retransmitted codewords.......0
Vtuc UnCorrectable Retransmitted codewords...0
Vtur PhyRActive..............................FALSE
Vtur Retransmitted codewords.................0
Vtur Corrected Retransmitted codewords.......0
Vtur UnCorrectable Retransmitted codewords...0